<div class="main-wrapper col col-lg-12 col-md-12 col-sm-12">
  <div class="left-section col col-lg-3 col-md-3 col-sm-3">
    <div class="categories">
      <div class="category" *ngFor="let item of categories">
        <div class="rect"></div>
        <i [class]="item.icon"></i>
        <a href="" class="link" >
          <span>{{item.name}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="right-section col col-lg-9 col-md-9 col-sm-9">
    <div class="top-swiper">

    </div>
    <div class="middle-swiper">

    </div>

  </div>
</div>
