<div class="main-wrapper col col-lg-12 col-md-12 col-sm-12">
  <div class="left-section col col-lg-3 col-md-3 col-sm-3">
    <div class="categories">
      <div class="category" *ngFor="let item of categories">
        <div class="rect"></div>
        <i [class]="item.icon"></i>
        <a href="" class="link" >
          <span>{{item.name}}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="right-section col col-lg-9 col-md-9 col-sm-9">
    <div class="top-swiper">

    </div>
    <div class="middle-swiper">

    </div>
    <div class="bottom-navigation">
      <div class="menus">
        <a [routerLink]="[ '/path' ]" routerLinkActive="active">
          <div class="icon">
            <img [src]="homeIcon" alt="">
          </div>
          <span>Home</span>
        </a>
        <a [routerLink]="[ '/path' ]" routerLinkActive="active">
          <div class="icon">
            <img [src]="aboutIcon" alt="">
          </div>
          <span>About Us</span>
        </a>
        <a [routerLink]="[ '/path' ]" routerLinkActive="active">
          <div class="icon">
            <img [src]="communitiesIcon" alt="">
          </div>
          <span>Communities</span>
        </a>
        <a [routerLink]="[ '/path' ]" routerLinkActive="active">
          <div class="icon">
            <img [src]="conferenceIcon" alt="">
          </div>
          <span>Conference</span>
        </a>
        <a [routerLink]="[ '/path' ]" routerLinkActive="active">
          <div class="icon">
            <img [src]="educationIcon" alt="">
          </div>
          <span>Education</span>
        </a>
        <a [routerLink]="[ '/path' ]" routerLinkActive="active">
          <div class="icon">
            <img [src]="contactIcon" alt="">
          </div>
          <span>Contact us</span>
        </a>
      </div>
    </div>
  </div>
</div>
