<div class="cancellation-container w-100 h-100 bg-white">
    <div class="header-container">
        <app-header></app-header>
    </div>
    <ul class="m-0 p-0">
        <li><a href="#">Home / </a></li>
        <li><a href="#" class="active">Cancellation & Refund</a></li>
    </ul>
    <div class="page-heading px-4">Cancellation and Refund Policy for Users </div>
    <div class="page-sub-heading px-4">User-Initiated Cancellations</div>
    <ol>
        <li>
            <h1 class="head">Cancellation Timeframes and Refunds: </h1>
                <p class="para-text">
                    Once registered no refunds .
                    <br />
                    User will receive 100% refund if conference is cancelled .
                    <br />
                    - No-shows: Users who do not attend the event are not eligible for any refund.
                </p>
        </li>
        <li>
            <h1 class="head">Rescheduling by the Organizer: </h1>
            <p class="para-text">
                If an event is rescheduled, users will have the option to:
                <br />
                - Attend the event on the new date, or
                <br />
                - Request a full refund. 

                Users must inform MednexusNS of their choice within [Number of 
                Days, e.g., 7 days] from the date of notification of the rescheduling. 
            </p>
        </li>
        <li>
            <h1 class="head">Refund Processing for Users:</h1>
            <p class="para-text">
             - Refunds will be processed within 7-10 business days from the date the cancellation is 
                confirmed. 
                <br />
            - All refunds will be credited to the original payment method used during registration. 
            </p>
        </li>
        <li>
           <h1 class="head">Force Majeure:</h1> 
           <p class="para-text">
                In cases where events are canceled due to unforeseen circumstances beyond the control of 
                the organizer (e.g., natural disasters, pandemics), refunds will be handled according to the 
                specific terms provided by the organizer for such events. Users will be notified of these 
                terms promptly.
            </p>
        </li>
        <li>
            <h1 class="head">Exceptions: </h1>
            <p class="para-text">
                Certain events may have special cancellation and refund policies, which will be clearly 
                outlined in the event details. Users are encouraged to review these details before 
                registering. 
            </p> 
        </li>
        <li>
           <h1 class="head"> Limitation of Liability: </h1>
           <p class="para-text">
                MednexusNS shall not be held liable for any damages, costs, or losses incurred due to event 
                cancellations, postponements, or changes made by vendors or due to unforeseen 
                circumstances. 
           </p>
        </li>
        <li>
           <h1 class="head"> User Responsibilities: </h1>
           <p class="para-text">
                Users are responsible for providing accurate contact and payment information and for 
                responding promptly to communications from MednexusNS regarding cancellations, 
                rescheduling, and refunds.
            </p> 
        </li>
        <li>
           <h1 class="head"> User Dispute Resolution Process: </h1>
           <p class="para-text">
                Any disputes regarding cancellations or refunds should first be directed to MednexusNS 
                customer support at [support&#64;mednexusns.com]. If a resolution cannot be reached 
                through customer support, users  agree to resolve disputes through mediation or arbitration 
                before pursuing legal action.
            </p>
        </li>
        <li>
           <h1 class="head">Notice and Communication Protocol: </h1> 
           <p class="para-text">
                All notices regarding cancellations, rescheduling, or refunds must be provided in writing via 
                the registered email address or through the MednexusNS platform notification system.
            </p>
        </li>
        <li>
           <h1 class="head"> Compliance with Local Laws: </h1>
           <p class="para-text">
                This policy is subject to and will be interpreted in accordance with applicable local, state, 
                and national laws regarding consumer rights and protections. 
            </p>
        </li>
        <li>
           <h1 class="head"> Contact for User Refunds: </h1>
           <p class="para-text">
                For any inquiries regarding cancellations and refunds, users should contact the 
                MednexusNS support team at [support&#64;mednexusns.com] or [9346122407]. 
            </p>
        </li>
    </ol>
    <div class="page-heading px-4">Cancellation and Refund Policy for Vendors </div>
    <div class="page-sub-heading px-4">Vendor-Initiated Cancellations and Rescheduling</div>
    <ol>
        <li>
            <h1 class="head">Cancellation Requirements:</h1> 
            <p class="para-text">
                - Vendors must provide at least 30 days' notice to MednexusNS and registered users if an 
                event needs to be canceled or rescheduled. 
                <br/>
                - If a vendor cancels or reschedules an event with less than 30 days' notice, they may not be 
                required to cover any additional costs incurred by users, such as travel and accommodation 
                expenses. 
            </p>
        </li>
        <li>
            <h1 class="head">Vendor Refund Obligations:</h1> 
            <p class="para-text">
                - If an event is canceled by the vendor, the vendor agrees to offer a full refund to all 
                registered users, including any processing fees, facilitated through MednexusNS.
                <br/> 
                - In cases of rescheduling, if users opt for a refund instead of attending on the new date, the 
                vendor is responsible for covering the full refund amount.
            </p> 
        </li>
        <li>
            <h1 class="head">
                Refund Processing for Vendors:
            </h1> 
            <p class="para-text">
                - MednexusNS will handle the refund process on behalf of the vendor, with the vendor 
                reimbursing MednexusNS for all refund amounts paid to users. 
                <br/>
                - Vendors are required to cooperate fully with MednexusNS to ensure timely refunds to 
                users.
            </p>
            
        </li>
        <li>
            <h1 class="head">Penalties for Late Cancellations:</h1>
            <p class="para-text">
                Vendors who cancel or reschedule events with less than the required notice period may face 
                penalties, including but not limited to covering user-incurred costs and potential 
                suspension from the platform for repeated violations.
            </p>
 
        </li>
        <li>
            <h1 class="head">Vendor Rescheduling Terms:</h1>
            <p class="para-text">
                - If an event is rescheduled, vendors must clearly communicate the new date and any 
                changes to the event details to MednexusNS and registered users as soon as possible. <br />
                - Vendors are responsible for addressing any user concerns or questions about the 
                rescheduled event. 
            </p>
        </li>
        <li>
            <h1 class="head">Force Majeure for Vendors: </h1>
            <p class="para-text">
                In the event of cancellation due to force majeure, vendors must follow the agreed-upon 
                terms with MednexusNS and communicate any specific refund policies to users promptly. 
            </p>
            
        </li>
        <li>
            <h1 class="head">Limitation of Liability for Vendors: </h1>
            <p class="para-text">
                MednexusNS shall not be liable for any indirect, incidental, or consequential damages 
                arising out of event cancellations or rescheduling initiated by vendors. 
            </p>
        </li>
        <li>
            <h1 class="head">Vendor Responsibilities: </h1>
            <p class="para-text">
                Vendors are responsible for providing accurate event details, maintaining open 
                communication with users, and adhering to MednexusNS policies to avoid disputes and 
                penalties.
            </p>
        </li>
        <li>
            <h1 class="head">Vendor Dispute Resolution Process: </h1>
            <p class="para-text">
                In the event of a dispute regarding cancellations or refunds, vendors agree to first seek 
                resolution through MednexusNS’s internal dispute resolution process before pursuing any 
                legal remedies.
            </p>
        </li>
        <li>
            <h1 class="head">Compliance with Local Laws: </h1>
            <p class="para-text">
                Vendors must ensure that all events listed and managed on MednexusNS comply with 
                applicable local, state, and national laws. 
            </p>
        </li>
        <li>
            <h1 class="head"> Insurance Requirements: </h1>
            <p class="para-text">
                Vendors shall maintain adequate insurance coverage to protect against any liabilities that 
                may arise from the events.
            </p>
        </li>
        <li>
            <h1 class="head">Contact for Vendor Refunds: </h1>
            <p class="para-text">
                Vendors with questions or concerns regarding cancellations, refunds, or rescheduling 
                should contact their designated MednexusNS account manager or email [vendor
                support&#64;mednexusns.com].
            </p>
        </li>
    </ol>
</div>