.mainSection {
  flex-grow: 1;
}
.hide{
  width: 60px !important;
  transition: all 0.5s linear;
}
.main{
  transition: all 0.5s linear;
}
@font-face {
  font-family: 'MyCustomFont';
  src: url('../../../../../assets/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'MyCustomFont', sans-serif !important;
}
