<div class="aboutus-container w-100 h-100 bg-white">
    <div class="header-container">
        <app-header></app-header>
    </div>
    <div class="section-container p-4">
        <div class="banner w-100 my-3">
            <!-- <img src="../../../../../assets/aboutus-banner.png" alt="Aboutus"> -->
        </div>
        <ul class="m-0 p-0">
            <li><a href="#">Home / </a></li>
            <li><a href="#" class="active">About us</a></li>
        </ul>
        <h1 class="page-heading">Our Passion to Create</h1>
        <p class="para-text">
            Driven by our passion to innovate and empower healthcare professionals, 
            Mednexus is dedicated to creating a seamless and intuitive platform for continuing 
            medical education. Our commitment is to foster a community of learning, exploration, 
            and professional growth, ensuring that every healthcare provider can connect 
            with their passion and enhance their expertise.
        </p>
        <div class="vision-mision-container d-flex p-3 my-3">
            <div class="vision p-3">
                <h1>Our Vision</h1>
               <span> To revolutionize medical education by offering a one-stop solution for learning, networking,
                 and professional development, ensuring you stay competitive globally.</span>
            </div>
            <div class="mision p-3">
                <h1>Our Mission</h1>
               <span> 
                To empower healthcare professionals with a seamless platform for accessing personalized 
                CME opportunities, fostering a vibrant community, and enhancing professional growth.
               </span>
            </div>
        </div>
        <h1>Core Values</h1>
        <p class="para-text">
            Community: Building supportive networks.
            Innovation: Leading with cutting-edge solutions.
            Integrity: Upholding high ethical standards.
            Freedom: Providing tailored learning experiences.
        </p>
        <h1>What We Offer</h1>
        <p class="para-text">
            Personalized Conferences: Get recommendations based on your interests.
            Easy Tracking: Manage your CME points and certificates effortlessly.
            Nationwide Events: Explore conferences across India.
            Free Tools: Access helpful resources and healthcare updates.

        </p>
       <h1> Why Choose MedNexus?</h1>
       <p class="para-text"> 
        Save time, enhance skills, and connect with peers.
         MedNexus simplifies CME, supports your growth, and keeps you informed.
        </p> 
        <h1>Join Us</h1> 
        <p class="para-text">Join MedNexus today and elevate your professional journey with us!</p>
    </div>
</div>