<div class="wrapper-autocomplete" *ngIf="isOpen">
  <div class="content col col-lg-6 col-md-6 col-sm-10">
    <i
      class="fa-solid fa-circle-xmark closeIcon"
      (click)="closeModalOpen()"
    ></i>
    <h1>Search {{ searchItem }}</h1>
    <div class="position-relative d-flex align-items-center">
      <input
        #inputElement
        [placeholder]="placeholder"
        class="inp form-control"
        [value]="selectedItemText"
        (input)="getSearchText($event)"
        (focus)="openList()"
      />
      <i
        class="fa-solid fa-xmark crossMark"
        *ngIf="searchText?.length"
        (click)="clearText()"
      ></i>
    </div>
    <ul>
      <li *ngFor="let item of filteredList" (click)="selectItem(item)">
        {{ item[fieldName] }}
      </li>
    </ul>
  </div>
</div>
