<header class="d-flex justify-content-between">
  <div class="logo">
    <!-- Logo content -->
  </div>
  <nav class="navbar navbar-expand">
    <ul>
      <li>
        <a
          [routerLink]="['']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          [routerLink]="['aboutus']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >About Us</a
        >
      </li>
      <li>
        <a
          [routerLink]="['conferences']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Conferences</a
        >
      </li>
      <li>
        <a
          [routerLink]="['features']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Features</a
        >
      </li>
      <li>
        <a
          [routerLink]="['support']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Support</a
        >
      </li>
      <li>
        <a
          [routerLink]="['addevent']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Add Event</a
        >
      </li>
      <li>
        <a
          [routerLink]="['userlogin']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Login</a
        >
      </li>
    </ul>
  </nav>
</header>
