// @import "../../../../../variables";

// .desktop {
//   display: flex;
// }

// .mobile {
//   display: none;
//   position: relative;
// }

// .hamburger, .closeBtn {
//   background: none;
//   border: none;
//   font-size: 30px;
//   margin-left: 10px;
//   cursor: pointer;
//   color: $whiteColor;
// }

// .closeBtn {
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }

// @media only screen and (max-width: 600px) {
//   .desktop {
//     display: none !important;
//   }

//   .mobile {
//     display: block;
//     height: auto;
//     width: 100%;
//     z-index: 1000;
//     left: 0%;
//     background: $themePrimaryColor;
//   }

//   .navbar {
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: -100%;
//     background: $themePrimaryColor;
//     transition: left 0.3s;
//   }

//   .navbar.show {
//     left: 0;
//   }

//   ul {
//     flex-direction: column;
//     display: flex;
//     width: 100%;
//     margin: 0px;
//     padding: 0;
//   }

//   li {
//     width: 100%;
//   }

//   a {
//     display: flex;
//     width: 100% !important;
//     padding: 15px;
//     color: $whiteColor;
//     text-decoration: none;
//   }
// }

// header {
//   width: 100%;
//   background: $themePrimaryColor;
//   height: 70px;
//   .logo {
//     width: 200px;
//     height: 100%;
//   }
//   .navbar {
//     margin: 0;
//     ul {
//       margin: 0;
//       display: flex;
//       list-style-type: none;
//       li {
//         margin-right: 10px;
//         a {
//           text-decoration: none;
//           color: $whiteColor;
//           padding: 10px;
//         }
//       }
//     }
//   }
// }
.logo-white,.user-logo-white{
  display: none;
}
header{
  height: 5vw;
  padding-right: 5vw;
  position: relative;
  z-index: 9;
  // .logoArea{
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   padding: 25px;
  //   border-bottom-right-radius: 25px;
  //   position: relative;
  //   z-index: 100000;
  //   background: var(--logo-color);
  //   .logo{
  //     height: 5vw;
  //     width: 18vw;
  //     object-fit: scale-down;
  //   }
  // }
  // .actionArea{
  //   display: flex;
  //   align-items: start;
  //   justify-content: flex-end;
  //   padding-top: 15px;
  // }
  .logo{
    width: 20vw;
    position: relative;
    top: 5vw;
    left: 3vw;
  }
  .searchArea{
    width: 45vw;
    margin-right: 6px;
    // border: 1px solid;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    display: none;
    .searchIcon{
      margin-left: 10px;
    }
    .search{
      // padding: 12.4px;
      padding-left: 0.5vw;
      width: 100%;
      outline: none;
      border: none;
      background: transparent;
      // color: var(--text-color);
      color:#D9D9D9;
      height: 2.3vw;
    }
  }
  .logIcon:hover{
    color: #009b87;
  }
  .actions{
    display: flex;
    ul{
      display: flex;
      list-style-type: none;
      align-items: center;
      li{
        cursor: pointer;
        height: 2.3vw;
        width: 2.3vw;
        margin-left: 1vw;
        // &switch{
        //   height: 2.5vw !important;
        //   width: 2.5vw !important;
        // }
        // margin-right: 10px;
        img{
          width: 100%;
          height: 100%;
          vertical-align: baseline !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  header{
    height: 10vw;
    background: #E9E9E9;
    padding: 0 5vw;
    .logo{
      width: 20vw !important;
      top: 3vw !important;
      left: -5vw !important;
    }
    .searchArea{
      width: 5vw;
      border: none;
      margin-top: 1vw;
    }
    .actions{
      ul{
        li{
          height: 5vw;
          width: 5vw;
        }
      }
    }
  }
}



.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 5px 10px;
  color: black;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #f1e5e5;
}
