<div class="container">
  <section class="social-media">
    <p>Follow us on</p>
    <div class="icons">
      <a href="#" class="icon linkedin"><i class="fab fa-linkedin"></i></a>
      <a href="#" class="icon facebook"><i class="fab fa-facebook"></i></a>
      <a href="#" class="icon whatsapp"><i class="fab fa-whatsapp"></i></a>
      <a href="#" class="icon twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="icon instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" class="icon youtube"><i class="fab fa-youtube"></i></a>
    </div>
  </section>

  <section class="email-updates">
    <h3>Email Updates</h3>
    <p>Signup with email to get daily updates</p>
    <form>
      <input type="email" placeholder="Email" />
      <button type="submit">
        <i class="fas fa-arrow-right"></i>
      </button>
    </form>
  </section>

</div>
