@import "../../../../variables";
.signupWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .signupBlock {
    height: auto;
    padding: $primaryPadding;
    background: $themePrimaryColor;
    border-radius: 10px;
    position: relative;
    h3{
      color: $whiteColor;
    }

    .fields {
      input {
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
        padding: 10px;
        outline: none;
        border: 1px solid gray;
      }
    }
    .genderFields {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      label {
        cursor: pointer;
        color: #fff;
        display: flex;
        align-items: center;
        margin-right: 10px;
      }
    }
  }
}
.autoInp {
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: 1px solid gray;
}

.autoComplete {
  position: relative;
  ul {
    max-height: 200px;
    height: auto;
    width: auto;
    z-index: 100;
    padding: 10px;
    background: $whiteColor;
    list-style-type: none;
    overflow-y: scroll;
    position: absolute;
    li {
      color: #000;
      padding: 5px;
      cursor: pointer;
    }
  }
}
.coursesBlock {
  margin-top: 10px;
  column-count: 2;
  .courseItem {
    display: flex;
    align-items: center;
    label {
      white-space: nowrap;
      cursor: pointer;
      color: $whiteColor;
      display: flex;
      align-items: center;
    }
  }
}
.radioBtn {
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.radioBtn::before {
  content: "";
  height: 60%;
  width: 60%;
  background: $whiteColor;
  border-radius: 50%;
  position: absolute;
}
.radioBtn:checked {
  background: $blackColor;
}
.radioBtn:checked::before {
  background: $whiteColor;
  animation: zoomIn 0.1s linear;
}
.courseRadioBtn {
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.courseRadioBtn::before {
  content: "";
  height: 60%;
  width: 60%;
  background: $whiteColor;
  border-radius: 50%;
  position: absolute;
}
.courseRadioBtn:checked {
  background: $blackColor;
}
.courseRadioBtn:checked::before {
  background: $whiteColor;
  animation: zoomIn 0.1s linear;
}

@keyframes zoomIn {
  0% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.mbbsBlock {
  margin-top: 10px;
  label{
    padding: 5px 20px;
    color: #fff;
    background: #888;
    margin-right: 10px;
    cursor: pointer;
  }
  .mbbsOptions {
    appearance: none;
  }
}
.greenBack{
  background: green !important;
}
.submitBlock{
  display: flex;
  justify-content: center;
  align-items: center;
}
.skipNow{
  color: #fff;
  position: absolute;
  left: -7vw;
  z-index: 1000;
  bottom: 10%;
  border: 1px solid gray;
  background: $themePrimaryColor;
  padding: 10px 15px;
  border-radius: 10px;

}
