<footer>
  <div class="bottom-navigation">
    <div class="white-line"></div>
    <div class="menus">
      <div class="items-anchor-tag">
        <a [routerLink]="[ '' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <div class="icon">
            <img [src]="homeIcon" alt="">
          </div>
          <span>Home</span>
        </a>
      </div>
      <div class="items-anchor-tag">
        <a [routerLink]="[ 'aboutus' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <div class="icon">
            <img [src]="aboutIcon" alt="">
          </div>
          <span>About Us</span>
        </a>
      </div>
      <div class="items-anchor-tag">
        <a [routerLink]="[ 'communities' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <div class="icon">
            <img [src]="communitiesIcon" alt="">
          </div>
          <span>Communities</span>
        </a>
      </div>
      <div class="items-anchor-tag">
        <a [routerLink]="[ 'conferences' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <div class="icon">
            <img [src]="conferenceIcon" alt="">
          </div>
          <span>Conference</span>
        </a>
      </div>
      <div class="items-anchor-tag">
        <a [routerLink]="[ 'education' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <div class="icon">
            <img [src]="educationIcon" alt="">
          </div>
          <span>Education</span>
        </a>
      </div>
      <div class="items-anchor-tag">
        <a [routerLink]="[ 'contactus' ]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <div class="icon">
            <img [src]="contactIcon" alt="">
          </div>
          <span>Contact us</span>
        </a>
      </div>
    </div>
  </div>
</footer>
