<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <h1 class="head mt-5">Long COVID Risk Has Dropped Since Start of Pandemic</h1>
          <h1 class="cat-tittle mt-5" style="margin-left: auto;"(click)="goBack()"><span><i
                class="fa-regular fa-less-than"></i></span>&nbsp; Back to Home</h1>
        </div>
        <hr class="hr">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mt-3">

        <img src="../../../../../assets/covid1.png" class="img-fluid" alt="">
      </div>
    </div>
    <div class="container mt-4">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2 class="head text-start">Long COVID Risk Has Dropped Since Start of Pandemic</h2>
          <p><b>Ralph Ellis, July 19, 2024</b></p>
        </div>
        <div class="col-md-6">
          <div class="d-flex justify-content-end">
            <a class="btn btn-lg btn-floating mx-2"
              style="background-color: #0077b5; color: white; border: none;" href="#!"
              role="button">
              <i class="fas fa-thumbs-up"></i> (20)
            </a>

            <a class="btn btn-lg btn-floating mx-2"
              style="background-color: #25D366; color: white; border: none;" href="#!"
              role="button">
              <i class="fas fa-comment"></i>(32)
            </a>

            <a class="btn btn-lg btn-floating mx-2"
              style="background-color: #1DA1F2; color: white; border: none;" href="#!"
              role="button">
              <i class="fas fa-share"></i>
            </a>

            <a class="btn btn-lg btn-floating mx-2"
              style="background-color: #E1306C; color: white; border: none;" href="#!"
              role="button">
              <i class="fas fa-save"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <!-- Coupon 1 -->
      <div class="col-md-12 col-lg-12 mt-3">
        <p class="list-p">Your chances of developing long COVID have significantly decreased since
          the pandemic
          began, offering a glimmer of hope and a sign of progress in the ongoing battle against
          the virus.</p>
        <p class="list-p">That's according to a new study published in The New England Journal of
          Medicine.
          Researchers at Washington University in St. Louis, who conducted the study, said that
          the drop was caused by vaccinations and changes in the virus itself. </p>
        <p class="list-p">"You can see a clear and significant difference in risk during the delta
          and omicron eras
          between the vaccinated and unvaccinated," Ziyad Al-Aly, MD, director of the Clinical
          Epidemiology Center at the VA St. Louis Health Care System and head of the research and
          development service, said in a statement. "So, if people think COVID is no big deal and
          decide to forgo vaccinations, they're essentially doubling their risk of developing long
          COVID."</p>


      </div>

      <hr>
      <div class="col-md-6 col-lg-6 mt-3">
        <h2 class="head">Comments(32)</h2>
        <div class="speaker-card">
          <img src="../.../../../../../../assets/comment1.png" alt="Kamal Kishore Soan">
          <div class="card-text">

            <h3>Courtney Henry</h3>
            <p>2 mins ago</p>
            <p><em>Consequat velit qui adipisicing sunt do rependerit ad laborum tempor ullamco
                exercitation. Ullamco tempor adipisicing et voluptate duis sit esse
                aliqua</em></p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
