<section *ngFor="let item of newsFeedDetails">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end align-items-center">
          
          <h1
            class="cat-tittle m-0"
            style="margin-left: auto;cursor: pointer;
        white-space: nowrap; position: relative; top: 10px;"
            (click)="goBack()"
          >
            <span><i class="fa-regular fa-less-than"></i></span>&nbsp; Back to
            Home
          </h1>
        </div>
        <hr class="hr" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 mt-3 img-data-grid-container">
        <img src="{{ item.img_url }}" class="img-fluid" alt="test123" />
      </div>
    </div>
    
    <div class="container mt-4">
      <div class="row align-items-center">
        
        <div class="">
          <div class="d-flex justify-content-end">
            <div *ngIf="!isFeedLiked" (click)="toggleLikeDislike()">
              <span
              class="btn btn-lg btn-floating mx-2"
              style="background-color: #0077b5; color: white; border: none"
              role="button"
              *ngIf="isUserLoggedIn"
              (click)="actionLike(item)"
            >
            <i class="fa-regular fa-thumbs-up"></i>{{item.like_count}}
            </span>
            </div>
            <div *ngIf="isFeedLiked"  (click)="toggleLikeDislike()">
              <span
              class="btn btn-lg btn-floating mx-2"
              style="background-color: #0077b5; color: white; border: none"
              role="button"
              *ngIf="isUserLoggedIn"
              (click)="actionDislike(item)"
            >
            <i class="fa-solid fa-thumbs-up"></i>{{item.like_count}}
            </span>
            </div>

            <!-- <span
              class="btn btn-lg btn-floating mx-2"
              style="background-color: #0077b5; color: white; border: none"
              role="button"
              *ngIf="isUserLoggedIn"
              (click)="actionDislike(item)"
            >
              <i class="fas fa-thumbs-down"></i> (20)
            </span> -->

            <!-- <a
              class="btn btn-lg btn-floating mx-2"
              style="background-color: #25d366; color: white; border: none"
              href="#!"
              role="button"
            >
              <i class="fas fa-comment"></i>(32)
            </a> -->

            <span
              class="btn btn-lg btn-floating mx-2"
              style="background-color: #1da1f2; color: white; border: none"
              role="button"
              *ngIf="isUserLoggedIn"
              (click)="shareContent(item)"
            >
              <i class="fas fa-share"></i>
            </span>

            <!-- <a
              class="btn btn-lg btn-floating mx-2"
              style="background-color: #e1306c; color: white; border: none"
              href="#!"
              role="button"
            >
              <i class="fas fa-save"></i>
            </a> -->
          </div>
        </div>
        <h1 class="head my-2 mx-0" style="font-weight: normal;">
          {{ item.heading }}
        </h1>
        <div class="col-md-6">
          <h2 class="head text-start" style="font-weight: normal;">
            {{ item.subheading }}
          </h2>
          <p >
            <b>MednexusNs, {{ item.created_at | date : "mediumDate" }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Coupon 1 -->
      <div class="col-md-12 col-lg-12 mt-3 image-data-upload-container" [innerHTML]="sanitizedHtml"></div>

      <hr />
    </div>
  </div>
</section>
