<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between" style="position: relative;top: 0.7vw;">
          <h1 class="head m-0">News feed</h1>
          <h1 class="cat-tittle m-0" style="margin-left: auto;cursor: pointer;" (click)="goBack()">
            <span><i class="fa-regular fa-less-than"></i></span>&nbsp; Back to
            Education
          </h1>
        </div>
        <hr class="hr" />
      </div>
    </div>
    <div class="row slider">
      <!-- Coupon 1 -->
      <div class="col-md-6 col-lg-4 mb-3 slide">
        <div class="tab-card2 img-fluid">
          <div class="top-trending-label list-p">Trending</div>
          <img
            src="../../../../../assets/news1.png"
            alt="Webinar Image"
            class="new-image img-fluid"
          />
        </div>
      </div>
      <!-- Coupon 2 -->
      <div class="col-md-6 col-lg-4 mb-3 slide">
        <div class="tab-card2 img-fluid">
          <div class="top-trending-label list-p">Trending</div>
          <img
            src="../../../../../assets/new2.png"
            alt="Webinar Image"
            class="new-image img-fluid"
          />
        </div>
      </div>
      <!-- Coupon 3 -->
      <div class="col-md-6 col-lg-4 mb-3 slide">
        <div class="tab-card2 img-fluid">
          <div class="top-trending-label list-p">Trending</div>
          <img
            src="../../../../../assets/new3.png"
            alt="Webinar Image"
            class="new-image img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex">
          <h1 class="head mt-5">Recent Post</h1>
          <!-- <h1
            class="cat-tittle mt-5"
            style="margin-left: auto"
            (click)="goBack()"
          >
            <span><i class="fa-regular fa-less-than"></i></span>&nbsp; Back to
            Home
          </h1> -->
        </div>
        <hr class="hr" />
      </div>
    </div>
    <div class="row pright">
      <!-- Coupon 1 -->
      <div class="col-md-6 col-lg-6 p-2" *ngFor="let item of newsFeedData">
        <div class="row main-card mx-2" (click)="goToNewsDetails(item)">
          <div class="col-4">
            <div class="img-sec">
              <img [src]="item.img_url" alt="Kamal Kishore Soan" />
            </div>
          </div>
          <div class="col-8 p0">
            <div class="card-content-sec">
              <p>{{ item.heading }}</p>
            </div>
            <div class="row footer-sec">
              <div class="col-lg-7 col-xs-12 p0">
                <p>{{ item.subheading }}</p>
              </div>
              <div class="col-lg-4 col-xs-12 p0">
                <p>{{ getTimeAgo(item.created_at) }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="speaker-card" (click)="goToNewsDetails(item)">
          <img [src]="item.img_url" alt="Kamal Kishore Soan" />
          <div class="card-text pl-2">
            <h4 class="side-text">{{ item.heading }}</h4>

            <div class="card-footer row">
              <div class="col-8">
                <h5 class="left-text subheading-left-text">
                  <b>{{ item.subheading }}</b>
                </h5>
              </div>
              <div class="col-4">
                <h6 class="right-text">
                  <b>{{ getTimeAgo(item.created_at) }}</b>
                </h6>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
