<div class="content">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-12" style="padding: 0px;">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1000"> <!-- Auto-rotate every 3 seconds -->
            <div class="carousel-inner">
              <ng-container *ngFor="let item of carnivalData; let i = index">
                <div class="carousel-item" [ngClass]="{'active': i === 0}" (click)="openModal(item) ">
                  <div class="cards-wrapper d-flex">
                    <div class="card">
                      <div class="title">{{ item.eventname }}</div>
                      <!-- <div class="conference">{{ item.eventname }}</div> -->
                      <div class="details">
                        From <strong>{{ item.proposal_from_datetime | date: 'yyyy-MM-dd' }}</strong>
                        to  <strong>{{ item.proposal_to_datetime | date: 'yyyy-MM-dd' }}</strong>
                        <br>
                        <!-- Morning Session from <strong>8:30 to 1:30PM</strong> -->
                      </div>
                      <div class="location">Location: {{ item.place }}</div>
                      <div class="price" *ngIf="item.price">Price: {{ item.price | currency:"INR" }}</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>
                      <div class="guest">
                        <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                        <div class="guest-name">
                          Chief Guest<br>
                          {{ item.speaker_name }}<br>
                          {{ item.speakerinfo }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>

            <!-- Carousel controls -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>


      <!-- <div class="row">
        <div class="col-12" style="padding: 0px;">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="cards-wrapper d-flex">
                  <div class="card">
                    <div class="title">MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. yaswanth<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="title">MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. yaswanth<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="title">MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. yaswanth<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item ">
                <div class="cards-wrapper d-flex">
                  <div class="card">
                    <div class="title">MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. yaswanth<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="title">MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. yaswanth<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="title">MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. yaswanth<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <button class="carousel-control-prev" type="button"
              data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
              data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div> -->
    </div>
  </section>

  <section class="mobile-hide">
    <div class="container">
      <div class="d-flex">
        <h1 class="head mt-5">Remainders</h1>
        <h5 class="cat-tittle mt-5" style="margin-left: auto">
          <b>View All</b>
        </h5>
      </div>
      <hr />
      <div class="row scroll-container" *ngIf="remaindersData.length">
        <!-- Coupon 1 -->
        <div class="col-12 col-lg-3 col-xl-3 col-md-3 cursor-pointer" *ngFor="let item of remaindersData" (click)="openModal(item)">
          <div class="coupon d-flex border p-2 align-items-center">
            <span>
              <img src="../../../../../assets/area-of-intrest-mn-icon.png" style="margin-right: 15px;" alt="Coupon Icon" />
            </span>
            <span class="mr-3">
              <p class="coupon-caption">
                {{item?.eventname}}
              </p>
              <!-- <p class="cod"><strong>{{getDateStatus(item.proposal_date_time)}}</strong></p> -->
               <p class="cod"><strong>From {{item.proposal_from_datetime}}</strong></p>
               <p class="cod"><strong>to {{item.proposal_to_datetime}}</strong></p>
               <p class="price" *ngIf="item.price">
                {{item.price |currency:"INR"}}
               </p>
            </span>
          </div>
        </div>


      </div>
      <div class="row" *ngIf="!remaindersData.length">
        <div class="col-12 col-lg-3 col-xl-3 col-md-3 cursor-pointer">
          <div class="coupon d-flex border p-2 align-items-center flex-column">
            <span>
              <img src="../../../../../assets/area-of-intrest-mn-icon.png" style="margin-right: 15px;" alt="Coupon Icon" />
            </span>
            <h1 class="mr-3">No Remainders</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Recommended For You Section -->
  <section class="mobile-hide">
    <div class="container">
      <div class="d-flex">
        <h1 class="head mt-5">Area Of Interest</h1>
        <h5 class="cat-tittle mt-5" style="margin-left: auto" (click)="viewAllAreaOfInterest()">
          <b>View All</b>
        </h5>
      </div>
      <div class="row areaofinterest">
        <div class="col-10 col-sm-12 col-lg-10 col-xl-8 col-md-10 d-flex align-items-center">

          <div class=" w-50 aoi">
            <div class="mn-icon-container mr-3">
              <img src="../../../../../assets/area-of-intrest-mn-icon.png"  style="width: 60px;height: 60px;" alt="Mn area of intrest">
            </div>
            <div
            class=""
            *ngFor="let item of limitedAreaOfInterestData "
          >
            <div class="wrapper"(click)="goToConferences(item)">
              <div class="iconbox-top md-align-center">
                <div class="iconbox-top-content">
                  <div class="hover-holder">
                    <div class="icon-holder">
                      <svg class="svg-circle">
                        <circle
                          cx="49"
                          cy="49"
                          r="47"
                          stroke="rgb(15,124,127)"
                          stroke-width="2"
                          fill="none"
                        ></circle>
                      </svg>
                      <div class="icon"><img src="{{ item.img }}" /></div>
                    </div>
                    <!-- <h1 class="catt-tittle">{{ item.subcategory_name }}</h1> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-2 col-sm-2 col-lg-2 col-xl-2 col-md-2 d-flex justify-content-end">
          <div class="recommendation-icon" (click)="goToAreaOfInterest()" title="Add Area Of Interest">+</div>
        </div>
      </div>
    </div>
  </section>

  <!---Add Category-->
  <section class="mobile-hide">
    <div class="container">
      <div class="d-flex">
        <h1 class="head mt-5">Your Specialities</h1>
        <h5 class="cat-tittle mt-5" style="margin-left: auto">
          <span><i class="fa-regular fa-less-than"></i></span>&nbsp; Back to
          Home
        </h5>
      </div>
      <hr class="hr" />
      <div class="row" *ngIf="userAvailableSpecialities.length > 0 ">
        <!-- Coupon 1 -->
        <div
          class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2"
          *ngFor="let item of userAvailableSpecialities"
        >
          <div class="wrapper"(click)="goToConference(item)">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <circle
                        cx="49"
                        cy="49"
                        r="47"
                         stroke="rgb(15,124,127)"
                        stroke-width="2"
                        fill="none"
                      ></circle>
                    </svg>
                    <div class="icon"><img src="{{ item.img }}" /></div>
                  </div>
                  <h1 class="catt-tittle">{{ item.specialty_name }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="userAvailableSpecialities.length <= 0 ">
        <h1>No Specialities,
          <a [routerLink]="['']" routerLinkActive="router-link-active">Please Register</a>
        </h1>
      </div>
    </div>
  </section>

  <div class="mobile-show pt-4">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel [expanded]="step() === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Remainders
            <h5 class="cat-tittle" style="margin-left: auto">
              <b>View All</b>
            </h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row scroll-container" *ngIf="remaindersData.length">
          <!-- Coupon 1 -->
          <div class="col-12 col-lg-3 col-xl-3 col-md-3 cursor-pointer" *ngFor="let item of remaindersData" (click)="openModal(item)">
            <div class="coupon d-flex border p-2 align-items-center">
              <span>
                <img src="../../../../../assets/area-of-intrest-mn-icon.png" style="margin-right: 15px;" alt="Coupon Icon" />
              </span>
              <span class="mr-3">
                <p class="coupon-caption">
                  {{item?.eventname}}
                </p>
                <p class="cod"><strong>{{getDateStatus(item.proposal_date_time)}}</strong></p>
              </span>
            </div>
          </div>


        </div>
        <div class="row" *ngIf="!remaindersData.length">
          <div class="col-12 col-lg-3 col-xl-3 col-md-3 cursor-pointer">
            <div class="coupon d-flex border p-2 align-items-center flex-column">
              <span>
                <img src="../../../../../assets/area-of-intrest-mn-icon.png" style="margin-right: 15px;" alt="Coupon Icon" />
              </span>
              <h1 class="mr-3">No Remainders</h1>
            </div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step() === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Area Of Interest
            <h5 class="cat-tittle" style="margin-left: auto" (click)="viewAllAreaOfInterest()">
              <b>View All</b>
            </h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row areaofinterest">
          <div class="col-10 col-sm-12 col-lg-10 col-xl-8 col-md-10 d-flex align-items-center">

            <div class=" w-50 aoi">
              <div class="mn-icon-container mr-3">
                <img src="../../../../../assets/area-of-intrest-mn-icon.png"  style="width: 60px;height: 60px;" alt="Mn area of intrest">
              </div>
              <div
              class=""
              *ngFor="let item of limitedAreaOfInterestData "
            >
              <div class="wrapper"(click)="goToConferences(item)">
                <div class="iconbox-top md-align-center">
                  <div class="iconbox-top-content">
                    <div class="hover-holder">
                      <div class="icon-holder">
                        <svg class="svg-circle">
                          <circle
                            cx="49"
                            cy="49"
                            r="47"
                            stroke="rgb(15,124,127)"
                            stroke-width="2"
                            fill="none"
                          ></circle>
                        </svg>
                        <div class="icon"><img src="{{ item.img }}" /></div>
                      </div>
                      <!-- <h1 class="catt-tittle">{{ item.subcategory_name }}</h1> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="col-2 col-sm-2 col-lg-2 col-xl-2 col-md-2 d-flex justify-content-end">
            <div class="recommendation-icon" (click)="goToAreaOfInterest()" title="Add Area Of Interest">+</div>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="step() === 2" (opened)="setStep(2)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Your Specialities
            <h5 class="cat-tittle" style="margin-left: auto">
              <span><i class="fa-regular fa-less-than"></i></span>&nbsp; Back to
              Home
            </h5>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row" *ngIf="userAvailableSpecialities.length > 0 ">
          <!-- Coupon 1 -->
          <div
            class="col-4 col-sm-6 col-lg-2 col-xl-2 col-md-2"
            *ngFor="let item of userAvailableSpecialities"
          >
            <div class="wrapper"(click)="goToConference(item)">
              <div class="iconbox-top md-align-center">
                <div class="iconbox-top-content">
                  <div class="hover-holder">
                    <div class="icon-holder">
                      <svg class="svg-circle">
                        <circle
                          cx="49"
                          cy="49"
                          r="47"
                           stroke="rgb(15,124,127)"
                          stroke-width="2"
                          fill="none"
                        ></circle>
                      </svg>
                      <div class="icon"><img src="{{ item.img }}" /></div>
                    </div>
                    <h1 class="catt-tittle">{{ item.specialty_name }}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="userAvailableSpecialities.length <= 0 ">
          <h1>No Specialities,
            <a [routerLink]="['']" routerLinkActive="router-link-active">Please Register</a>
          </h1>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!---Anatomy-->
</div>

