<div class="content">


  <section>
    <div class="container">
      <div class="d-flex">
        <h1 class="head mt-5">Remainders</h1>
        <h5 class="cat-tittle mt-5" style="margin-left: auto">
          <b>View All</b>
        </h5>
      </div>
      <hr />
      <div class="row">
        <!-- Coupon 1 -->
        <div class="col-12 col-lg-3 col-xl-3 col-md-3">
          <div class="coupon d-flex border p-2 align-items-center">
            <span>
              <img src="../../../../../assets/remid.png" alt="Coupon Icon" />
            </span>
            <span>
              <p class="coupon-caption">
                Get 10% Off a minimum Purchase of ₹699 on all..
              </p>
              <p class="cod"><strong>Code: NHPEE09</strong></p>
            </span>
          </div>
        </div>
        <!-- Coupon 2 -->
        <div class="col-12 col-lg-3 col-xl-3 col-md-3">
          <div class="coupon d-flex border p-2 align-items-center">
            <span>
              <img src="../../../../../assets/remid.png" alt="Coupon Icon" />
            </span>
            <span>
              <p class="coupon-caption">
                Get 10% Off a minimum Purchase of ₹699 on all..
              </p>
              <p class="cod"><strong>Code: NHPEE09</strong></p>
            </span>
          </div>
        </div>
        <!-- Coupon 3 -->
        <div class="col-12 col-lg-3 col-xl-3 col-md-3">
          <div class="coupon d-flex border p-2 align-items-center">
            <span>
              <img src="../../../../../assets/remid.png" alt="Coupon Icon" />
            </span>
            <span>
              <p class="coupon-caption">
                Get 10% Off a minimum Purchase of ₹699 on all..
              </p>
              <p class="cod"><strong>Code: NHPEE09</strong></p>
            </span>
          </div>
        </div>
        <!-- Coupon 4 -->
        <div class="col-12 col-lg-3 col-xl-3 col-md-3">
          <div class="coupon d-flex border p-2 align-items-center">
            <span>
              <img src="../../../../../assets/remid.png" alt="Coupon Icon" />
            </span>
            <span>
              <p class="coupon-caption">
                Get 10% Off a minimum Purchase of ₹699 on all..
              </p>
              <p class="cod"><strong>Code: NHPEE09</strong></p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Recommended For You Section -->
  <section>
    <div class="container">
      <h1 class="head mt-3">Recommended For You</h1>
      <div class="row">
        <div class="col-3 col-sm-2 col-lg-2 col-xl-2 col-md-2">
          <div class="recommendation-icon">MN</div>
        </div>
        <div class="col-3 col-sm-2 col-lg-2 col-xl-2 col-md-2">
          <div class="recommendation-icon">+</div>
        </div>
      </div>
    </div>
  </section>

  <!---Add Category-->
  <section>
    <div class="container">
      <div class="d-flex">
        <h1 class="head mt-5">Your Specialities</h1>
        <h5 class="cat-tittle mt-5" style="margin-left: auto">
          <span><i class="fa-regular fa-less-than"></i></span>&nbsp; Back to
          Home
        </h5>
      </div>
      <hr class="hr" />
      <div class="row" *ngIf="userAvailableSpecialities.length > 0 ">
        <!-- Coupon 1 -->
        <div
          class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2"
          *ngFor="let item of userAvailableSpecialities"
        >
          <div class="wrapper"(click)="goToConferences(item)">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <circle
                        cx="49"
                        cy="49"
                        r="47"
                        stroke="rgb(15,124,127)"
                        stroke-width="2"
                        fill="none"
                      ></circle>
                    </svg>
                    <div class="icon"><img src="{{ item.img }}" /></div>
                  </div>
                  <h1 class="catt-tittle">{{ item.specialty_name }}</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="userAvailableSpecialities.length <= 0 ">
        <h1>No Specialities,
          <a [routerLink]="['/signup']" routerLinkActive="router-link-active">Please Register</a>
        </h1>
      </div>
    </div>
  </section>

  <!---Anatomy-->
</div>
