<div class="content">


  <section>
    <div class="container">
      <div class="row">
        <div class="col-12" style="padding: 0px;">
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="cards-wrapper d-flex">
                  <div class="card">
                    <div class="title">S.V. MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. Hara Prasad Pati<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="title">S.V. MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. Hara Prasad Pati<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="title">S.V. MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. Hara Prasad Pati<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- More carousel items -->
              <div class="carousel-item ">
                <div class="cards-wrapper d-flex">
                  <div class="card">
                    <div class="title">S.V. MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. Hara Prasad Pati<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="title">S.V. MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. Hara Prasad Pati<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="title">S.V. MEDICAL COLLEGE <br> ALUMNI ASSOCIATION</div>
                    <div class="conference">48th Conference (Webinar)</div>
                    <div class="details">
                      On <strong>28.07.2024</strong><br>
                      Morning Session from <strong>8:30 to 1:30PM</strong>
                    </div>
                    <div class="location">Location: Tirupati</div>
                    <div class="guest1">
                      <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                    </div>
                    <div class="guest">
                      <img src="../../../../../assets/card-logo.png" alt="Chief Guest">
                      <div class="guest-name">
                        Chief Guest<br>
                        Dr. Hara Prasad Pati<br>
                        M.D, FICP, FIMSA, FISHIM
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Carousel controls -->
            <button class="carousel-control-prev" type="button"
              data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button"
              data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section>
    <div class="container">

      <div class="d-flex">
        <h1 class="head mt-5">Remainders</h1>
        <h5 class="cat-tittle mt-5" style="margin-left: auto;"> <b>View All</b> </h5>
      </div>
      <hr>
      <div class="row">
        <!-- Coupon 1 -->
        <div class="col-12 col-lg-3 col-xl-3 col-md-3">
          <div class="coupon d-flex border p-2 align-items-center">
            <span>
              <img src="../../../../../assets/remid.png" alt="Coupon Icon">
            </span>
            <span>
              <p class="coupon-caption">Get 10% Off a minimum Purchase of ₹699 on all..</p>
              <p class="cod"><strong>Code: NHPEE09</strong></p>
            </span>



          </div>
        </div>
        <!-- Coupon 2 -->
        <div class="col-12 col-lg-3 col-xl-3 col-md-3">
          <div class="coupon d-flex border p-2 align-items-center">
            <span>
              <img src="../../../../../assets/remid.png" alt="Coupon Icon">
            </span>
            <span>
              <p class="coupon-caption">Get 10% Off a minimum Purchase of ₹699 on all..</p>
              <p class="cod"><strong>Code: NHPEE09</strong></p>
            </span>



          </div>
        </div>
        <!-- Coupon 3 -->
        <div class="col-12 col-lg-3 col-xl-3 col-md-3">
          <div class="coupon d-flex border p-2 align-items-center">
            <span>
              <img src="../../../../../assets/remid.png" alt="Coupon Icon">
            </span>
            <span>
              <p class="coupon-caption">Get 10% Off a minimum Purchase of ₹699 on all..</p>
              <p class="cod"><strong>Code: NHPEE09</strong></p>
            </span>



          </div>
        </div>
        <!-- Coupon 4 -->
        <div class="col-12 col-lg-3 col-xl-3 col-md-3">
          <div class="coupon d-flex border p-2 align-items-center">
            <span>
              <img src="../../../../../assets/remid.png" alt="Coupon Icon">
            </span>
            <span>
              <p class="coupon-caption">Get 10% Off a minimum Purchase of ₹699 on all..</p>
              <p class="cod"><strong>Code: NHPEE09</strong></p>
            </span>



          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- Recommended For You Section -->
  <section>
    <div class="container">
      <h1 class="head mt-3">Recommended For You</h1>
      <div class="row">
        <div class="col-3 col-sm-2 col-lg-2 col-xl-2 col-md-2">
          <div class="recommendation-icon">
            MN
          </div>
        </div>
        <div class="col-3 col-sm-2 col-lg-2 col-xl-2 col-md-2">
          <div class="recommendation-icon">
            +
          </div>
        </div>
      </div>
    </div>
  </section>

  <!---Add Category-->
  <section>
    <div class="container">
      <div class="d-flex">
        <h1 class="head mt-5">Your Specialities</h1>
        <h5 class="cat-tittle mt-5" style="margin-left: auto;"><span><i
              class="fa-regular fa-less-than"></i></span>&nbsp; Back to Home</h5>
      </div>
      <hr class="hr">
      <div class="row">
        <!-- Coupon 1 -->
        <div class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2" *ngFor="let item of userAvailableSpecialities">
          <div class="wrapper">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <circle cx="49" cy="49" r="47" stroke="rgb(15,124,127)"
                        stroke-width="2" fill="none"> </circle>
                    </svg>
                    <div class="icon"><img src="{{item.img}}"></div>
                  </div>
                  <h1 class="catt-tittle">{{item.specialty_name}}</h1>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!---Anatomy-->
  <section>
    <div class="container">
      <div class="d-flex">
        <h1 class="head mt-5">Anatomy</h1>
        <h5 class="cat-tittle mt-5" style="margin-left: auto;">Reset</h5>
      </div>
      <hr class="hr">
      <div class="row">
        <!-- Coupon 1 -->
        <div class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2">
          <div class="wrapper">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <!-- <circle cx="49" cy="49" r="47" stroke="rgb(15,124,127)" stroke-width="2" fill="none">                     </circle> -->
                    </svg>
                    <div class="icon"><img src="../../../../../assets/Clinica.svg"></div>
                  </div>
                  <h1 class="catt-tittle">Clinical Anatomy</h1>
                </div>


              </div>
            </div>
          </div>
        </div>
        <!-- Coupon 2 -->
        <div class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2">
          <div class="wrapper">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <!-- <circle cx="49" cy="49" r="47" stroke="rgb(15,124,127)" stroke-width="2" fill="none">                     </circle> -->
                    </svg>
                    <div class="icon"><img src="../../../../../assets/Neuro.svg"></div>
                  </div>
                  <h1 class="catt-tittle">Neuro Anatomy</h1>
                </div>


              </div>
            </div>
          </div>
        </div>
        <!-- Coupon 3 -->
        <div class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2">
          <div class="wrapper">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <!-- <circle cx="49" cy="49" r="47" stroke="rgb(15,124,127)" stroke-width="2" fill="none">                     </circle> -->
                    </svg>
                    <div class="icon"><img src="../../../../../assets/Histo.svg"></div>
                  </div>
                  <h1 class="catt-tittle">Histo Pathology</h1>
                </div>


              </div>
            </div>
          </div>
        </div>
        <!-- Coupon 4 -->
        <div class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2">
          <div class="wrapper">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <!-- <circle cx="49" cy="49" r="47" stroke="rgb(15,124,127)" stroke-width="2" fill="none">                     </circle> -->
                    </svg>
                    <div class="icon"><img src="../../../../../assets/Embryology.svg"></div>
                  </div>
                  <h1 class="catt-tittle">Embryology & Developmental Biology</h1>
                </div>


              </div>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2">
          <div class="wrapper">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <!-- <circle cx="49" cy="49" r="47" stroke="rgb(15,124,127)" stroke-width="2" fill="none">                     </circle> -->
                    </svg>
                    <div class="icon"><img src="../../../../../assets/Medical.svg"></div>
                  </div>
                  <h1 class="catt-tittle">Medical Education</h1>
                </div>


              </div>
            </div>
          </div>
        </div>
        <!-- Coupon 2 -->
        <div class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2">
          <div class="wrapper">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <!-- <circle cx="49" cy="49" r="47" stroke="rgb(15,124,127)" stroke-width="2" fill="none">                     </circle> -->
                    </svg>
                    <div class="icon"><img src="../../../../../assets/Radiological.svg">
                    </div>
                  </div>
                  <h1 class="catt-tittle">Radiological Anatomy</h1>
                </div>


              </div>
            </div>
          </div>
        </div>
        <!-- Coupon 3 -->
        <div class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2">
          <div class="wrapper">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <!-- <circle cx="49" cy="49" r="47" stroke="rgb(15,124,127)" stroke-width="2" fill="none">                     </circle> -->
                    </svg>
                    <div class="icon"><img src="../../../../../assets/Clinical.svg"></div>
                  </div>
                  <h1 class="catt-tittle">Clinical Research</h1>
                </div>


              </div>
            </div>
          </div>
        </div>
        <!-- Coupon 4 -->
        <div class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2">
          <div class="wrapper">
            <div class="iconbox-top md-align-center">
              <div class="iconbox-top-content">
                <div class="hover-holder">
                  <div class="icon-holder">
                    <svg class="svg-circle">
                      <!-- <circle cx="49" cy="49" r="47" stroke="rgb(15,124,127)" stroke-width="2" fill="none">                     </circle> -->
                    </svg>
                    <div class="icon"><img src="../../../../../assets/Forensic.svg"></div>
                  </div>
                  <h1 class="catt-tittle">Forensic Anatomy</h1>
                </div>


              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>



</div>
