<div class="signup-container">
  <div class="signup-left">
    <div class="brand-logo mt-5">
      <img src="../../../../../assets/logo-white.png" alt="" />
    </div>
    <p class="text-center mt-5 title-container">
      Welcome to <span>MednexusNS</span> 
      <br />Connect to Your Passion.
    </p>
    <img src="../../../../../assets/signupD.png" alt="" class="img-fluid" />
  </div>

  <div class="signup-right">
    <form [formGroup]="signupForm">
      <span class="skipBtn" (click)="skip()">SKIP</span>
      <h2 class="mb-4">Signup</h2>
      <p class="caption-sign">Bt Creating a free account</p>

      <div class="row">
        <div class="col-md-12 mb-2 p-2">
          <input
            class="form-control"
            formControlName="fullname"
            placeholder="Enter Name"
          />
        </div>
        <div class="col-md-12 mb-2 p-2">
          <input
            class="form-control"
            formControlName="email"
            placeholder="Enter Email"
          />
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-12 mb-2 p-2">
          <input
            class="form-control"
            formControlName="alternativemobilenumber"
            placeholder="Enter Phone/Whatsapp"
          />
        </div>
      </div> -->

      <div class="row">
        <div class="col-md-6 mb-2 p-2">
          <mat-form-field appearance="outline">
            <mat-label>Select DOB</mat-label>
            <input matInput [matDatepicker]="picker"placeholder="Select DOB" formControlName="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-2 p-2">
          <select class="form-select" formControlName="gender">
            <option value="">Select Gender</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-2 p-2">
          <select class="form-select" formControlName="course">
            <option value="" selected>Select Course</option>
            <option [ngValue]="item" *ngFor="let item of courses">
              {{ item.name }}
            </option>
          </select>
        </div>
        <div class="col-md-6 mb-2 p-2">
          <select
            class="form-select"
            formControlName="sub_course"
            *ngIf="!isOtherSelected"
          >
            <option value="" selected>Select Speciality</option>
            <option [ngValue]="item" *ngFor="let item of specialities">
              {{ item.specialityname }}
            </option>
          </select>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Other"
            *ngIf="isOtherSelected"
          />
        </div>
      </div>

      <div class="row" *ngIf="subCourseLabel">
        <div class="mb-2 p-2 field">
          <input
            type="text"
            [placeholder]="subCourseLabel"
            (focus)="openSubCourseModal()"
            formControlName="sub_course_list"
          />
          <i class="fa-solid fa-angle-down downIcon"></i>
          <app-modalautocomplete
            [items]="subCoursesList"
            [searchItem]="subCourseLabel"
            [isOpen]="isOpenSubCourseModal"
            (itemSelected)="getSelectedSubCourse($event)"
            (closeModal)="closeSubCourseModal()"
            [fieldName]="'name'"
            [placeholder]="subCourseLabel"
          ></app-modalautocomplete>
        </div>
      </div>

      <div class="row" *ngIf="isCompletedSelected">
        <div class="col-md-6 mb-2 p-2 d-flex align-items-center">
          <input
            type="radio"
            name="isStudying"
            class="radioInp"
            id="studying"
            value="studying"
            placeholder="Year of studying"
            formControlName="isStudying"
          />
          <label for="studying">Studying</label>
        </div>
        <div class="col-md-6 mb-2 p-2 d-flex align-items-center">
          <input
            type="radio"
            name="isStudying"
            class="radioInp"
            id="Practice"
            value="completed"
            placeholder="Year of completion"
            formControlName="isStudying"
          />
          <label for="Practice">Practice</label>
        </div>
      </div>

      <div class="row">
        <div class="mb-2 p-2 field">
          <input
            type="text"
            placeholder="Select State"
            (focus)="openStateModal()"
            formControlName="state"
          />
          <i class="fa-solid fa-angle-down downIcon"></i>
          <app-modalautocomplete
            [items]="stateList"
            [searchItem]="'State'"
            [isOpen]="isOpenStateModal"
            (itemSelected)="getSelectedState($event)"
            (closeModal)="closeStateModal()"
            [fieldName]="'name'"
            [placeholder]="'Search State'"
          ></app-modalautocomplete>
        </div>
      </div>
      <div class="row" *ngIf="isPracticeSelected">
        <div class="mb-2 p-2">
          <input
            class="form-control"
            placeholder="Enter Practising"
            formControlName="practice"
          />
        </div>
        <div class="mb-2 p-2">
          <input
            class="form-control"
            placeholder="Enter Years Of Experience"
            formControlName="yearofstudying"
          />
        </div>
      </div>

      <div class="row">
        <div class="mb-2 p-2 field" *ngIf="!isPracticeSelected">
          <input
            type="text"
            [placeholder]="collegePlaceHolder"
            (focus)="openCollegeModal()"
            formControlName="college_id"
          />
          <i class="fa-solid fa-angle-down downIcon"></i>
          <app-modalautocomplete
            [items]="collegeList"
            [searchItem]="'State'"
            [isOpen]="isOpenCollegeModal"
            (itemSelected)="getSelectedCollege($event)"
            (closeModal)="closeCollegeModal()"
            [fieldName]="'name'"
            [placeholder]="'Search College'"
          ></app-modalautocomplete>
        </div>
        <div class="mb-2 p-2" *ngIf="isStudying">
          <input
            class="form-control"
            placeholder="Enter Year of Studying"
            formControlName="yearofstudying"
          />
        </div>
        <div class="mb-2 p-2">
          <input
            class="form-control"
            placeholder="Enter City"
            formControlName="city"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button
            type="submit"
            [disabled]="!signupForm.valid"
            class="btn btn-primary w-100"
            (click)="onSubmit()"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
