<div class="container">
  <button class="btns theme myBtn" (click)="toggleTables()">
    {{ toggleText }}
  </button>

  <div class="forAdmin" *ngIf="!isShowSubAdmin">
    <div class="current" *ngIf="!isShowDeleted">
      <div class="search-bar col col-lg-5 col-md-5 col-sm-12">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Type to search"
            class="searchInp"
          />
        </mat-form-field>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="Sr.No">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Proposal ID">
            <th mat-header-cell *matHeaderCellDef>Proposal ID</th>
            <td mat-cell *matCellDef="let element">
              <span class="idColor" (click)="openModal(element, 'view')">
                #{{ element.id }}</span
              >
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.active === 1" class="pending">Pending</span
              ><span *ngIf="element.active === 2" class="approved"
                >Approved</span
              ><span *ngIf="element.active === 3" class="rejected"
                >Rejected</span
              >
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <i
                class="fa-solid fa-trash deleteIcon"
                (click)="deleteRequest(element)"
              ></i>
              <i
                class="fa-solid fa-pen editIcon"
                (click)="openModal(element, 'edit')"
              ></i>
              <i
                class="fa-solid fa-users editIcon conferenceIcon"
                *ngIf="userType == 2"
                title="Add Conference Details"
                (click)="openAddConference(element)"
                >+</i
              >
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </div>
    <div class="deleted" *ngIf="isShowDeleted">
      <div class="search-bar col col-lg-5 col-md-5 col-sm-12">
        <mat-form-field appearance="outline">
          <mat-label>Search</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Type to search"
            class="searchInp"
          />
        </mat-form-field>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource1">
          <ng-container matColumnDef="Sr.No">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Proposal ID">
            <th mat-header-cell *matHeaderCellDef>Proposal ID</th>
            <td mat-cell *matCellDef="let element">
              <span class="idColor" (click)="openModal(element, 'view')">
                #{{ element.id }}</span
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              <span *ngIf="element.active === 1" class="pending">Pending</span
              ><span *ngIf="element.active === 2" class="approved"
                >Approved</span
              ><span *ngIf="element.active === 3" class="rejected"
                >Rejected</span
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef>Comments</th>
            <td mat-cell *matCellDef="let element">
              {{ element.comments }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <!-- <p>DATA ENDS GHERE</p> -->
      <!-- <div class="row my-3">
        <div class="col">
          <input
            type="text"
            class="form-control"
            placeholder="Search by ID or Name"
            [(ngModel)]="searchTermDel"
          />
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Sr.No</th>
              <th scope="col">Proposal ID</th>
              <th scope="col">Status</th>
              <th scope="col">Name</th>
              <th scope="col">Comments</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of deletedVendorRequestListData
                  | filter : searchTermDel;
                let i = index
              "
            >
              <td>{{ i + 1 }}</td>
              <td class="proposalId" (click)="openModal(item, 'view')">
                #{{ item.id }}
              </td>
              <td>
                <span *ngIf="item.active === 1" class="pending">Pending</span
                ><span *ngIf="item.active === 2" class="approved">Approved</span
                ><span *ngIf="item.active === 3" class="rejected"
                  >Rejected</span
                >
              </td>
              <td>{{ item.name }}</td>
              <td>{{ item.comments }}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
    </div>
  </div>
</div>
<div class="openModal" *ngIf="isShowVendorModal">
  <div class="modalWrapper col col-lg-7 col-md-7 col-sm-10">
    <span class="closeModal" (click)="closeModal()"
      ><i class="fa-solid fa-circle-xmark icon"></i
    ></span>
    <div class="content" *ngIf="action === 'view'">
      <h4>Vendor Details</h4>
      <div class="modalDetails">
        <h6>Personal Details:</h6>
        <div class="details">
          <label for="">Name: {{ this.modalData.name }}</label>
          <label for="">Age: {{ this.modalData.age }}</label>
          <label for="">Gender: {{ this.modalData.gender }}</label>
          <label for="">Email: {{ this.modalData.email }}</label>
          <label for="">Phone: {{ this.modalData.phone }}</label>
          <label for="">Address: {{ this.modalData.address }}</label>
        </div>
      </div>
      <div class="modalDetails">
        <h6>Conference Details</h6>
        <div class="details">
          <label for="">Event Name: {{ this.modalData.eventname }}</label>
          <label for="">Organized By: {{ this.modalData.organisedby }}</label>
          <label for="">Conference Host Date: {{ this.modalData.proposal_date_time | date:'m/d/yyy hh:mm a ' }}</label>
          <label for="">Category: {{ this.modalData.category }}</label>
          <label for="">State: {{ this.modalData.state }}</label>
          <label for="">Place: {{ this.modalData.place }}</label>
          <label for="">Pin: {{ this.modalData.pin }}</label>
          <label for="">Venu: {{ this.modalData.venu }}</label>
        </div>
      </div>
      <div class="modalDetails">
        <h6>Speaker Details</h6>
        <div class="details">
          <label for="">Speaker Info: {{ this.modalData.speakerinfo }}</label>
          <label for="">Topic: {{ this.modalData.topic }}</label>
          <label for="">Duration: {{ this.modalData.duration }}</label>
          <label for="">CME Points: {{ this.modalData.cme_point }}</label>
          <label for="">Speaker Name: {{ this.modalData.speaker_name }}</label>
          <div class="flex d-flex">
            <label for="">Session Name:</label>
            <img src="{{ this.modalData.session_name }}" alt="" />
          </div>
          <div class="flex d-flex">
            <label for="">Letter:</label>
            <img src="{{ this.modalData.letter }}" alt="" />
          </div>
        </div>
      </div>
      <div class="modalDetails">
        <h6>Payment Details</h6>
        <div class="details">
          <label for="">Vendor Name: {{ this.modalData.vendorname }}</label>
          <label for="">Contact Email: {{ this.modalData.contactemail }}</label>
          <label for=""
            >Contact Person: {{ this.modalData.contactperson }}</label
          >
          <label for="">Bank Name: {{ this.modalData.bankname }}</label>
          <label for="">Branch Name: {{ this.modalData.branchname }}</label>
          <label for=""
            >Account Holder Name: {{ this.modalData.accountholdername }}</label
          >
          <label for=""
            >Account Number: {{ this.modalData.accountnumber }}</label
          >
          <label for="">IFSC Code: {{ this.modalData.ifsccode }}</label>
          <label for="">PAN NO: {{ this.modalData.panno }}</label>
          <label for=""
            >Branch Address: {{ this.modalData.branchaddress }}</label
          >
        </div>
      </div>
      <div class="modalDetails">
        <h6>Subject Details</h6>
        <div class="chipsWrapper">
          <span
            class="chips"
            *ngFor="let item of this.modalData.subjectDetailsData"
          >
            <span>{{ item.subject.subject_name }} -</span>

            <span>{{ item.sub_subject.sub_subject_name }}</span>
          </span>
        </div>
      </div>
      <div class="actionButtons">
        <button
          *ngIf="this.modalData.active === 1 && this.modalData.status !== 0"
          class="btn btn-success"
          (click)="changeStatus('approve', this.modalData)"
        >
          Approve
        </button>
        <button
          *ngIf="this.modalData.active === 1 && this.modalData.status !== 0"
          class="btn btn-danger"
          (click)="changeStatus('reject', this.modalData)"
        >
          Reject
        </button>
      </div>
    </div>
    <div
      class="content"
      *ngIf="action === 'edit'"
      [formGroup]="editvendorFormGroup"
    >
      <h4>Vendor Details</h4>
      <div class="modalDetails">
        <h6>Personal Details:</h6>
        <div class="details">
          <div class="edit-fields">
            <label for="">Name:</label>
            <input type="text" formControlName="name" />
          </div>
          <div class="edit-fields">
            <label for="">Age:</label>
            <input type="text" formControlName="age" />
          </div>

          <div class="edit-fields">
            <label for="">Gender:</label>
            <select name="" id="" formControlName="gender">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>
          <div class="edit-fields">
            <label for="">Email:</label>
            <input type="email" formControlName="email" />
          </div>
          <div class="edit-fields">
            <label for="">Phone:</label>
            <input type="number" formControlName="phone" />
          </div>
          <div class="edit-fields">
            <label for="">Address:</label>
            <textarea formControlName="address"></textarea>
          </div>
        </div>
      </div>
      <div class="modalDetails">
        <h6>Conference Details</h6>
        <div class="details">
          <div class="edit-fields">
            <label for="">Event Name:</label>
            <input type="text" formControlName="eventname" />
          </div>
          <div class="edit-fields">
            <label for="">Organized By:</label>
            <input type="text" formControlName="organizedby" />
          </div>
          <div class="edit-fields">
            <label for="">Host Conference Date:</label>
            <input type="datetime-local" formControlName="proposal_date_time" />
          </div>
          <div class="edit-fields">
            <label for="">Category:</label>
            <select
              name="category"
              id="category"
              formControlName="category"
              class="select"
            >
              <option [value]="item.id" *ngFor="let item of categories">
                {{ item.name }}
              </option>
            </select>
          </div>
          <div class="edit-fields">
            <label for="">State: </label>
            <input type="text" formControlName="state" />
          </div>
          <div class="edit-fields">
            <label for="">Place: </label>
            <input type="text" formControlName="place" />
          </div>
          <div class="edit-fields">
            <label for="">Pin: </label>
            <input type="text" formControlName="pin" />
          </div>
          <div class="edit-fields">
            <label for="">Venu: </label>
            <input type="text" formControlName="venu" />
          </div>
        </div>
      </div>
      <div class="modalDetails">
        <h6>Speaker Details</h6>
        <div class="details">
          <div class="edit-fields">
            <label for="">Speaker Info: </label>
            <input type="text" formControlName="speakerinfo" />
          </div>
          <div class="edit-fields">
            <label for="">Topic:</label>
            <input type="text" formControlName="topic" />
          </div>
          <div class="edit-fields">
            <label for="">Duration: </label>
            <input type="text" formControlName="duration" />
          </div>
          <div class="edit-fields">
            <label for="">CME Points:</label>
            <input type="text" formControlName="cme_point" />
          </div>
          <div class="edit-fields">
            <label for="">Speaker Name: </label>

            <input type="text" formControlName="speaker_name" />
          </div>
          <div class="flex d-flex align-items-center">
            <label for="">Session Name:</label>
            <img src="{{ this.editData?.session_name }}" alt="" />
            <label for="sessionname" class="sessionnameclass"
              >Choose File</label
            >
            <input
              type="file"
              id="sessionname"
              class="session_name"
              accept=".pdf, .jpg, .jpeg"
              (change)="handleSessionNameFile($event)"
            />
          </div>
          <div class="flex d-flex align-items-center">
            <label for="">Letter:</label>
            <img src="{{ this.editData?.letter }}" alt="" />
            <label for="letter" class="sessionnameclass">Choose File</label>
            <input
              type="file"
              id="letter"
              class="session_name"
              accept=".pdf, .jpg, .jpeg"
              (change)="handleLetterField($event)"
            />
          </div>
        </div>
      </div>
      <div class="modalDetails">
        <h6>Payment Details</h6>
        <div class="details">
          <div class="edit-fields">
            <label for="">Vendor Name:</label>
            <input type="text" formControlName="vendorname" />
          </div>
          <div class="edit-fields">
            <label for="">Contact Email:</label>
            <input type="text" formControlName="contactemail" />
          </div>
          <div class="edit-fields">
            <label for="">Contact Person: </label>
            <input type="text" formControlName="contactperson" />
          </div>
          <div class="edit-fields">
            <label for="">Bank Name:</label>
            <input type="text" formControlName="bankname" />
          </div>
          <div class="edit-fields">
            <label for="">Branch Name: </label>
            <input type="text" formControlName="branchname" />
          </div>
          <div class="edit-fields">
            <label for="">Account Holder Name:</label>
            <input type="text" formControlName="accountholdername" />
          </div>
          <div class="edit-fields">
            <label for="">Account Number: </label>
            <input type="text" formControlName="accountnumber" />
          </div>
          <div class="edit-fields">
            <label for="">IFSC Code: </label>
            <input type="text" formControlName="ifsccode" />
          </div>
          <div class="edit-fields">
            <label for="">PAN NO:</label>
            <input type="text" formControlName="panno" />
          </div>
          <div class="edit-fields">
            <label for="">Branch Address:</label>
            <input type="text" formControlName="branchaddress" />
          </div>
          <div class="subjectsBlock">
            <div class="addSubjects d-flex align-items-center m-10">
              <label for="">Add Subjects</label>
              <button (click)="addSubjects()" class="addBtn">+</button>
            </div>
            <div class="subjectsarea" formArrayName="subjects">
              <div
                class="subjects"
                *ngFor="let item of subjectsListArray.controls; let i = index"
                [formGroupName]="i"
              >
                <div class="edit-fields d-flex">
                  <label for="subject">Select Subject:</label>
                  <select
                    name="subject"
                    id="subject"
                    formControlName="subject"
                    class="select"
                    (change)="getSelectedSubject($event, i)"
                  >
                    <option value="" selected>--Select Subject--</option>
                    <option
                      [value]="item.id"
                      *ngFor="let item of subjectsListData"
                      [disabled]="item.isSelected"
                    >
                      {{ item.category_name }}
                    </option>
                  </select>
                  <button
                    *ngIf="i != 0"
                    (click)="removeSubject(i, $event)"
                    class="remBtn"
                  >
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
                <div class="edit-fields">
                  <label for="subject">Select Sub Subject:</label>
                  <select
                    name="sub-subject"
                    id="sub-subject"
                    formControlName="sub_subject"
                    class="select"
                  >
                    <option value="" selected>--Select Sub Subject--</option>
                    <option
                      [value]="item.id"
                      *ngFor="let item of subSubjectListDataArray[i]"
                    >
                      {{ item.subcategory_name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actionButtons">
        <button
          class="btn btn-success"
          [disabled]="!editvendorFormGroup.valid"
          (click)="updateVendorData(editvendorFormGroup.value)"
        >
          Update
        </button>
        <button class="btn btn-danger" (click)="closeModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>
