<div class="content">
  <section>
    <div class="container mb-5">
      <div class="d-flex">
        <h1 class="head mt-5">S.V. MEDICAL COLLEGE</h1>
        <h5 class="cat-tittle mt-5" style="margin-left: auto;"><span><i
              class="fa-regular fa-less-than"></i></span>&nbsp; Back to Home</h5>

      </div>
      <hr class="hr">

      <div class="row">
        <mat-tab-group>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-radio-button class="custom-radio" name="group2" value="aboutConference" checked>About
                conference</mat-radio-button>
            </ng-template>
            <!-- Content for Hot Jobs tab -->

            <div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
              <div
                class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 text-center d-flex justify-content-center align-items-center">
                <span>
                  <h4 class="head">Share :</h4>
                </span>
                <a class="btn btn-lg btn-floating mx-2" style="background-color: #0077b5; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-linkedin"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #25D366; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-whatsapp"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #1DA1F2; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-twitter"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #E1306C; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-instagram"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #FF0000; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-youtube"></i></a>

              </div>  
            </div>

            <div class="row d-xs-none d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
              <span>
                <h4 class="head mt-5">Share :</h4>
              </span>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center"></div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #0077b5; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-linkedin"></i></a>
              </div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">
                <a class="btn" style="background-color: #25D366; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-whatsapp"></i></a>
              </div>

              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #1DA1F2; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-twitter"></i></a>
              </div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #E1306C; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-instagram"></i></a>
              </div>

              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #FF0000; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-youtube"></i></a>

              </div>
            </div>


            <div class="row">
              <div class="col-md-12 col-lg-12 mt-3">
                <img src="../../../../../assets/banner-dash.png" class="img-fluid" alt="">
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-sm-7 col-xl-7 col-md-7 col-lg-7 mt-3">
                <h1 class="head">Key Highlights</h1>

                <ul class="p-0">
                  <li>
                    <strong class="list-t">Renowned Speakers:</strong>
                    <br />
                    <p class="list-p">
                      Learn from leading experts,
                      researchers & practitioners from India & around the world.
                    </p>
                  </li>
                  <li>
                    <strong class="list-t">Interactive Sessions:</strong>
                    <br />
                    <p class="list-p">
                      Participate in workshops,
                      panel discussions, & poster presentations covering diverse topics.
                    </p>
                  </li>
                  <li>
                    <strong class="list-t">Cutting-edge Research:</strong>
                    <br />
                    <p class="list-p">Showcase your own research
                      or discover groundbreaking findings in various forensic medicine
                      subspecialties.</p>
                  </li>
                  <li>
                    <strong class="list-t">Networking Opportunities:</strong>
                    <br />
                    <p class="list-p">Connect with
                      colleagues, peers, & potential collaborators from across the globe.
                    </p>
                  </li>
                  <li>
                    <strong class="list-t">Cultural Immersion:</strong>
                    <br />
                    <p class="list-p">Immerse yourself in the rich
                      culture & heritage of Chennai on a specially curated tour.</p>
                  </li>
                </ul>

              </div>
              <div class="col-12 col-sm-5 col-xl-5 col-md-5 col-lg-5 mt-3">

                <h1 class="head">Conference Tracks</h1>

                <ul class="p-0">
                  <li class="list-dot">&#8226; Forensic Medicine and Toxicology</li>
                  <li class="list-dot">&#8226; Clinical Forensic Medicine</li>
                  <li class="list-dot">&#8226; Forensic Psychiatry and Psychology</li>
                  <li class="list-dot">&#8226; Forensic Odontology & Anthropology</li>
                  <li class="list-dot">&#8226; DNA Analysis & Forensic Genetics</li>
                  <li class="list-dot">&#8226; Forensic Serology & Immunology</li>
                  <li class="list-dot">&#8226; Digital Forensics & Cybercrime</li>
                  <li class="list-dot">&#8226; Medico-Legal & Law</li>
                  <li class="list-dot">&#8226; Ethical Issues & Professional Development</li>
                </ul>
              </div>
            </div>


            <div class="row">
              <div class="col-12 col-sm-12 col-xl-9 col-md-9 col-lg-9 mt-3">
                <h1 class="head">Why Attend?</h1>
                <ul class="p-0">
                  <li class="list-dot">&#8226; Sharpen Your skills & knowledge with the latest
                    advancement in Forensic
                    Medicine.</li>
                  <li class="list-dot">&#8226; Expand your professional network by connecting
                    with colleagues from
                    across india & the world.</li>
                  <li class="list-dot">&#8226; Contributes to the advancement of forensic
                    medicine through interactive
                    sessions and research presntation.</li>
                </ul>

              </div>
              <div class="col-12 col-sm-12 col-xl-3 col-md-3 col-lg-3 mt-3">

                <h4 class="head">Click Button to Navigate the conference</h4>

                <button class="btn btn-success">ATTEND CONFERENCE</button>
              </div>
            </div>
          </mat-tab>


          <mat-tab>
            <ng-template mat-tab-label>

              <mat-radio-button class="custom-radio" value="recentjobs">Schedule</mat-radio-button>
            </ng-template>


            <div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
              <div
                class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 text-center d-flex justify-content-center align-items-center">
                <span>
                  <h4 class="head">Share :</h4>
                </span>
                <a class="btn btn-lg btn-floating mx-2" style="background-color: #0077b5; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-linkedin"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #25D366; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-whatsapp"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #1DA1F2; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-twitter"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #E1306C; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-instagram"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #FF0000; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-youtube"></i></a>

              </div>  
            </div>

            <div class="row d-xs-none d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
              <span>
                <h4 class="head mt-5">Share :</h4>
              </span>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center"></div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #0077b5; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-linkedin"></i></a>
              </div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">
                <a class="btn" style="background-color: #25D366; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-whatsapp"></i></a>
              </div>

              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #1DA1F2; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-twitter"></i></a>
              </div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #E1306C; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-instagram"></i></a>
              </div>

              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #FF0000; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-youtube"></i></a>

              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-lg-12 mt-3">

                <img src="../../../../../assets/banner-dash.png" class="img-fluid" alt="">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12 lab-d">
                <h5 class="bg-primary text-white p-2 rounded">Day 1 : 31st Jan 2025, Friday
                </h5>
              </div>
            </div>


            <div class="row">
              <div class="col-12 col-sm-12 col-xl-8 col-md-8 col-lg-8 ">

                <table class="table table-bordered">
                  <thead>
                    <tr class="table-head">
                      <th class="table-head">Time</th>
                      <th class="table-head">Activity</th>
                      <th class="table-head">Venue</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>8:00 AM to 9:00 AM</td>
                      <td>Registration</td>
                      <td>Academic Block</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td>Breakfast</td>
                      <td colspan="2">Near Academic Block</td>
                    </tr>
                  </tbody>
                </table>

              </div>
              <div class="col-12 col-xl-4 col-md-4 col-lg-4 mt-3">

                <h4 class="head">Click Button to Navigate the conference</h4>

                <button class="btn btn-success">ATTEND CONFERENCE</button>
              </div>
            </div>

            <!-- Morning Session -->
            <div class="row mt-3">
              <div class="col-12">

                <h1 class="head">Morning Session</h1>
              </div>
              <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-md-3 mb-3">
                <div class=" border p-2 rounded shadow">
                  <div class="cardd-row">
                    <p class="list-p"><strong>Topic:</strong> The evolution of forensic
                      medicine: From
                      Fingerprints to DNA & Beyond</p>
                    <div class="lab-d">
                      <h5 class="bg-primary text-white p-2 rounded"><strong>Time:</strong>
                        9:00
                        AM to 10:00 AM</h5>
                    </div>
                    <h5><strong>Session:</strong> Prof. (Dr.) I. Bhooshana Rao Oration</h5>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-md-3 mb-3">
                <div class=" border p-2 rounded shadow">
                  <div class="cardd-row">
                    <p class="list-p"><strong>Conference Inauguration</strong></p>
                    <div class="lab-d">
                      <h5 class="bg-primary text-white p-2 rounded"><strong>Time:</strong>
                        10:00 AM to 10:45 AM</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-md-3 mb-3">
                <div class="border p-2 rounded shadow">
                  <div class="cardd-row">
                    <p class="list-p"><strong>Topic:</strong> Current Trends & Technologies
                      in Forensic
                      Science: Cutting-Edge Tools & Techniques</p>
                    <div class="lab-d">
                      <h5 class="bg-primary text-white p-2 rounded"><strong>Time:</strong>
                        10:45 AM to 11:45 AM</h5>
                    </div>
                    <p><strong>Session:</strong> Panel Discussion</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-md-3 mb-3">
                <div class="border p-2 rounded shadow">
                  <div class="cardd-row">
                    <p class="list-p"><strong>Topic:</strong> Trace Evidence Analysis:
                      Unmasking the
                      Unspoken Stories</p>
                    <div class="lab-d">
                      <h5 class="bg-primary text-white p-2 rounded"><strong>Time:</strong>
                        11:45 AM to 12:30 PM</h5>
                    </div>
                    <p><strong>Session:</strong> Panel Discussion</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Lunch Break -->
            <div class="row mt-4 d-flex justify-content-center">
              <div class="col-12 lab-d text-center">
                <h4 class="bg-primary text-white p-2 rounded">Lunch Break (12:30 PM TO 1:30
                  PM)</h4>
              </div>
            </div>




            <div class="row mt-3">
              <div class="col-12">

                <h1 class="head">Afternoon Session</h1>
              </div>
              <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-md-3 mb-3">
                <div class="border p-2 rounded shadow">
                  <div class="cardd-row">
                    <p class="list-p"><strong>Topic:</strong> Looking at recent evolution in
                      Toxicology
                      through legal lens</p>
                    <div class="lab-d">
                      <h5 class="bg-primary text-white p-2 rounded"><strong>Time:</strong>
                        1:30
                        PM to 2:15 PM</h5>
                    </div>
                    <p><strong>Session:</strong> Plenary Session</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-md-3 col-md-3 mb-3">
                <div class="border p-2 rounded shadow">
                  <div class="cardd-row">
                    <p class="list-p"><strong>Topic:</strong> Forensic Psychiatry &
                      Psychology:
                      Understanding the criminal mind and motive</p>
                    <div class="lab-d">
                      <h5 class="bg-primary text-white p-2 rounded"><strong>Time:</strong>
                        2:15
                        PM to 3:00 PM</h5>
                    </div>
                    <p><strong>Session:</strong> Plenary Session</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-md-3 col-md-3 mb-3">
                <div class="border p-2 rounded shadow">
                  <div class="cardd-row">
                    <p class="list-p"><strong>Topic:</strong> Applying Forensic techniques
                      to real-world
                      investigations</p>
                    <div class="lab-d">
                      <h5 class="bg-primary text-white p-2 rounded"><strong>Time:</strong>
                        3:00
                        PM to 3:45 PM</h5>
                    </div>
                    <p><strong>Session:</strong> Plenary Session</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-md-3 col-md-3 mb-3">
                <div class="border p-2 rounded shadow">
                  <div class="cardd-row">
                    <p class="list-p"><strong>Venue:</strong> Panchdeep Corridor, 1st Floor,
                      Academic Block
                    </p>
                    <div class="lab-d">
                      <h5 class="bg-primary text-white p-2 rounded"><strong>Time:</strong>
                        9:00
                        AM to 4:00 PM</h5>
                    </div>
                    <p><strong>Session:</strong> Poster Display</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-xl-3 col-lg-3 col-md-3 mb-3">
                <div class="border p-2 rounded shadow">
                  <div class="cardd-row">
                    <p class="list-p"><strong>Venue:</strong> Sushruta Hall, 1st Floor,
                      Academic Block</p>
                    <div class="lab-d">
                      <h5 class="bg-primary text-white p-2 rounded"><strong>Time:</strong>
                        2:00
                        PM to 4:00 PM</h5>
                    </div>
                    <p><strong>Session:</strong> Paper Presentation</p>
                  </div>
                </div>
              </div>


              <!-- Note -->
              <div class="row mt-3">
                <div class="col-12">
                  <p class="text-muted"><em>Note: The Paper & Poster Presentation of the
                      Conference will be Conducted parallel to this session.</em></p>
                </div>
              </div>
            </div>

          </mat-tab>


          <mat-tab>
            <ng-template mat-tab-label>
              <mat-radio-button class="custom-radio" value="Popular Jobs">Speakers</mat-radio-button>
            </ng-template>

              <div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
                <div
                  class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 text-center d-flex justify-content-center align-items-center">
                  <span>
                    <h4 class="head">Share :</h4>
                  </span>
                  <a class="btn btn-lg btn-floating mx-2" style="background-color: #0077b5; color: white; border: none;"
                    href="#!" role="button"><i class="fab fa-linkedin"></i></a>
  
                  <a class="btn btn-lg btn-floating mx-2" style="background-color: #25D366; color: white; border: none;"
                    href="#!" role="button"><i class="fab fa-whatsapp"></i></a>
  
                  <a class="btn btn-lg btn-floating mx-2" style="background-color: #1DA1F2; color: white; border: none;"
                    href="#!" role="button"><i class="fab fa-twitter"></i></a>
  
                  <a class="btn btn-lg btn-floating mx-2" style="background-color: #E1306C; color: white; border: none;"
                    href="#!" role="button"><i class="fab fa-instagram"></i></a>
  
                  <a class="btn btn-lg btn-floating mx-2" style="background-color: #FF0000; color: white; border: none;"
                    href="#!" role="button"><i class="fab fa-youtube"></i></a>
  
                </div>  
              </div>
  
              <div class="row d-xs-none d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
                <span>
                  <h4 class="head mt-5">Share :</h4>
                </span>
                <div
                  class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center"></div>
                <div
                  class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">
  
                  <a class="btn" style="background-color: #0077b5; color: white; border: none;"
                    href="#!" role="button"><i class="fab fa-linkedin"></i></a>
                </div>
                <div
                  class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">
                  <a class="btn" style="background-color: #25D366; color: white; border: none;"
                    href="#!" role="button"><i class="fab fa-whatsapp"></i></a>
                </div>
  
                <div
                  class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">
  
                  <a class="btn" style="background-color: #1DA1F2; color: white; border: none;"
                    href="#!" role="button"><i class="fab fa-twitter"></i></a>
                </div>
                <div
                  class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">
  
                  <a class="btn" style="background-color: #E1306C; color: white; border: none;"
                    href="#!" role="button"><i class="fab fa-instagram"></i></a>
                </div>
  
                <div
                  class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">
  
                  <a class="btn" style="background-color: #FF0000; color: white; border: none;"
                    href="#!" role="button"><i class="fab fa-youtube"></i></a>
  
                </div>
              </div>

            <div class="row">
              <div class="col-md-12 col-lg-12 mt-3">

                <img src="../../../../../assets/banner-dash.png" class="img-fluid" alt="">
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12">
                <h1 class="head">Speakers</h1>
              </div>
              <div class="col-md-9 col-lg-9 mt-3">
                <div class="label">
                  <div class="text">Chief Patron</div>
                </div>
                <div class="speaker-card">
                  <img src="../../../../../assets/kamal.png" alt="Kamal Kishore Soan">
                  <div class="card-text">
                    <h3>Mr. Kamal Kishore Soan (IAS)</h3>
                    <p>Director General<br>Employee's State Insurance Corporation, Panchdeep
                      Bhawan, New Delhi</p>
                    <p><em>Union Ministry of Labour & Employment, Govt. of India</em></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3 mt-3">
                <h4 class="head">Click Button to Navigate the conference</h4>
                <button class="btn btn-success">ATTEND CONFERENCE</button>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12 d-flex justify-content-center">
                <div class="label">
                  <div class="text">Patron</div>
                </div>
              </div>
              <div class="col-md-4 col-lg-4 mt-3">

                <div class="speaker-card">
                  <img src="../../../../../assets/ashit.png" alt="Dr. Ashit Mullick">
                  <div class="card-text">
                    <h3>Dr. Ashit Mullick</h3>
                    <p>Medical Commissioner (Medical Education)<br>Employee's State
                      Insurance Corporation</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 mt-3">

                <div class="speaker-card">
                  <img src="../../../../../assets/narayan.png" alt="Dr. K. Narayanasamy">
                  <div class="card-text">
                    <h3>Dr. K. Narayanasamy</h3>
                    <p>Vice Chancellor<br>Tamil Nadu Dr. M.G.R. Medical University, Chennai,
                      Tamilnadu</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-lg-4 mt-3">

                <div class="speaker-card">
                  <img src="../../../../../assets/sunita.png" alt="Dr. Sunita Chopra">
                  <div class="card-text">
                    <h3>Dr. Sunita Chopra</h3>
                    <p>Medical Commissioner (South Zone)<br>ESIC, Panchdeep Bhawan,
                      Bangalore, Karnataka</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">

              <div class="col-md-6 col-lg-6 mt-3">
                <div class="label">
                  <div class="text">Organizing Chairman</div>
                </div>
                <div class="speaker-card">
                  <img src="../../../../../assets/kalidas.png" alt="Dr. Kalidas Dattatraya Chavan">
                  <div class="card-text">
                    <h3>Dr. Kalidas Dattatraya Chavan</h3>
                    <p>Dean of ESIC Medical College & Hospital, Chennai, Tamilnadu</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-6 mt-3">
                <div class="label">
                  <div class="text">Organizing Secretary</div>
                </div>
                <div class="speaker-card">
                  <img src="../../../../../assets/vijayakanth.png" alt="Dr. Vijayanath V">
                  <div class="card-text">
                    <h3>Dr. Vijayanath V</h3>
                    <p>Prof & HOD, Dept. FMT, ESIC MCH, Chennai, Tamilnadu</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12 d-flex justify-content-center">
                <div class="label">
                  <div class="text">Joint Secretary</div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 mt-3">

                <div class="speaker-card">
                  <img src="../../../../../assets/ravindra.png" alt="Dr. Ravindra Dekar">
                  <div class="card-text">
                    <h3>Dr. Ravindra Dekar</h3>
                    <p>ADJ. Prof., Dept. FMT, Seth GSMC & KEMH, Mumbai, Maharashtra</p>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-6 mt-3">

                <div class="speaker-card">
                  <img src="../../../../../assets/rajesh.png" alt="Dr. Rajesh D.R">
                  <div class="card-text">
                    <h3>Dr. Rajesh D.R</h3>
                    <p>Assoc. Prof., Dept. FMT, IGMC, Pondicherry</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-12 d-flex justify-content-center">
                <div class="label">
                  <div class="text">Treasurer</div>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 mt-3">

                <div class="speaker-card">
                  <img src="../../../../../assets/bheem.png" alt="Dr. Beemesetty Rajesh">
                  <div class="card-text">
                    <h3>Dr. Beemesetty Rajesh</h3>
                    <p>Assoc. Prof., Dept. FMT, ESIC MCH, Chennai, Tamilnadu</p>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>



          <mat-tab>
            <ng-template mat-tab-label>

              <mat-radio-button class="custom-radio" value="Popular Jobs">Locations</mat-radio-button>
            </ng-template>

            <div class="row">
              <div class="col-md-12 col-lg-12 mt-3 p-2">

                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.3261651155535!2d79.4021542750882!3d13.637912786742158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4d4b1f9e4747bd%3A0x6a97886f65cbd8c8!2sSri%20Venkateswara%20Institute%20of%20Medical%20Sciences%20(SVIMS)!5e0!3m2!1sen!2sin!4v1726043214823!5m2!1sen!2sin"
                  height="450px" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade" class="rounded" width="100%"></iframe>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h1 class="head">Venue:</h1>
              </div>
              <div class="col-12 col-sm-12 col-xl-8 col-md-8 col-lg-8">
                <table class="table table-bordered">
                  <thead class="table-head">
                    <tr class="table-head">
                      <th class="table-head">Venue</th>
                      <th class="table-head">Date</th>
                      <th class="table-head">Location</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>S.V. MEDICAL COLLEGE ALUMNI ASSOCIATION</td>
                      <td>03 AUG 2024</td>
                      <td>Tirupati</td>
                    </tr>

                  </tbody>
                </table>
              </div>


              <div class="col-12 col-xl-4 col-md-4 col-lg-4">

                <h4 class="head">Click Button to Navigate the conference</h4>

                <button class="btn btn-success">ATTEND CONFERENCE</button>
              </div>
            </div>

          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-radio-button class="custom-radio" (click)="openPersonalDetails()" value="Popular Jobs">Personal
                Details</mat-radio-button>

            </ng-template>

            <div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
              <div
                class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 text-center d-flex justify-content-center align-items-center">
                <span>
                  <h4 class="head">Share :</h4>
                </span>
                <a class="btn btn-lg btn-floating mx-2" style="background-color: #0077b5; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-linkedin"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #25D366; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-whatsapp"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #1DA1F2; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-twitter"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #E1306C; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-instagram"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #FF0000; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-youtube"></i></a>

              </div>  
            </div>

            <div class="row d-xs-none d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
              <span>
                <h4 class="head mt-5">Share :</h4>
              </span>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center"></div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #0077b5; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-linkedin"></i></a>
              </div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">
                <a class="btn" style="background-color: #25D366; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-whatsapp"></i></a>
              </div>

              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #1DA1F2; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-twitter"></i></a>
              </div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #E1306C; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-instagram"></i></a>
              </div>

              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #FF0000; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-youtube"></i></a>

              </div>
            </div>

            <div class="personal-details-modal">
              <span class="close-modal" (click)="closeModal()">X</span>
              <h2 class="modal-title">Confirm Details</h2>

              <div class="form-container">
                <form>
                  <div class="form-group">
                    <input type="text" placeholder="Enter Name" class="form-control" />
                  </div>
                  <div class="form-group">
                    <input type="email" placeholder="Enter Email" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label for="notify">Set Notification for E-Mails</label>
                    <input type="checkbox" id="notify" class="form-check-input ms-2">
                  </div>
                  <div class="form-group">
                    <input type="text" placeholder="Enter Phone/WhatsApp" class="form-control" />
                  </div>

                  <div class="form-row row">
                    <div class="form-group col-md-6">
                      <input type="text" placeholder="DOB (D/M/Y)" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                      <select class="form-select" aria-label="Select Gender">
                        <option selected>Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-row row">
                    <div class="form-group col-md-6">
                      <select class="form-select" aria-label="Select Course">
                        <option selected>Select Course</option>
                        <option value="course1">Course 1</option>
                        <option value="course2">Course 2</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Enter Year" class="form-control" />
                    </div>
                  </div>

                  <div class="form-row row">
                    <div class="form-group col-md-6">
                      <select class="form-select" aria-label="Select Type">
                        <option selected>Select Type</option>
                        <option value="full-time">Full Time</option>
                        <option value="part-time">Part Time</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <select class="form-select" aria-label="Current Position">
                        <option selected>Select Current Position</option>
                        <option value="manager">Manager</option>
                        <option value="executive">Executive</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-row row">
                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Enter College Name" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Exp In Years" class="form-control" />
                    </div>
                  </div>

                  <div class="form-row row">
                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Enter Current Organization" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Council State" class="form-control" />
                    </div>
                  </div>

                  <div class="form-row row">
                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Enter Medical Cou.Reg.Number" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" placeholder="Year of Registration" class="form-control" />
                    </div>
                  </div>

                  <div class="buttons text-center">
                    <button type="submit" class="btn btn-primary confirm-btn">CONFIRM</button>
                    <button type="button" class="btn btn-outline-primary add-member-btn">ADD NEW MEMBER</button>
                  </div>
                </form>
              </div>
            </div>


          </mat-tab>


          <mat-tab>
            <ng-template mat-tab-label>

              <mat-radio-button class="custom-radio" value="Popular Jobs">Payments</mat-radio-button>
            </ng-template>

            <div class="row d-none d-md-block d-lg-block d-xl-block d-xxl-block">
              <div
                class="col-12 col-sm-12 col-md-12 col-lg-12 mt-5 text-center d-flex justify-content-center align-items-center">
                <span>
                  <h4 class="head">Share :</h4>
                </span>
                <a class="btn btn-lg btn-floating mx-2" style="background-color: #0077b5; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-linkedin"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #25D366; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-whatsapp"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #1DA1F2; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-twitter"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #E1306C; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-instagram"></i></a>

                <a class="btn btn-lg btn-floating mx-2" style="background-color: #FF0000; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-youtube"></i></a>

              </div>  
            </div>

            <div class="row d-xs-none d-sm-block d-md-none d-lg-none d-xl-none d-xxl-none">
              <span>
                <h4 class="head mt-5">Share :</h4>
              </span>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center"></div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #0077b5; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-linkedin"></i></a>
              </div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">
                <a class="btn" style="background-color: #25D366; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-whatsapp"></i></a>
              </div>

              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #1DA1F2; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-twitter"></i></a>
              </div>
              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #E1306C; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-instagram"></i></a>
              </div>

              <div
                class="col-2 col-sm-2 col-md-2 col-lg-2 text-center d-flex justify-content-center align-items-center">

                <a class="btn" style="background-color: #FF0000; color: white; border: none;"
                  href="#!" role="button"><i class="fab fa-youtube"></i></a>

              </div>
            </div>


            <div class="row mt-5">

              <div class="col-12 col-xl-7 col-md-7 col-lg-7">
                <h4 class="head">Pay directly with your favourite UPI apps </h4>
                <div class="d-flex justify-space-between gap-10">
                  <div class="net-img">
                    <img src="../../../../../assets/google pay.svg" alt="">
                    <br>
                    <label>GPay</label>
                  </div>
                  <div class="net-img">
                    <img src="../../../../../assets/Vector.svg" alt="">
                    <br>
                    <label>PhonePe</label>
                  </div>
                  <div class="net-img">
                    <img src="../../../../../assets/Bhmi.svg" alt="">
                    <br>
                    <label>BHIM</label>
                  </div>
                  <div class="net-img">
                    <img src="../../../../../assets/Paytm.svg" alt="">
                    <br>
                    <label>Paytm</label>
                  </div>
                </div>
                <div class="net-img-swip mt-3">
                  <img src="../../../../../assets/pay.svg" alt="">
                </div>
              </div>

              <div class="col-12 col-xl-5 col-md-5 col-lg-5 px-3 d-flex justify-content-end">

                <table class="table table-bordered">
                  <thead class="table-head">
                    <tr class="table-head">
                      <th colspan="2" class="table-head text-center">Confirm Details</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Date</td>
                      <td class="table-p">03 AUG 2024</td>
                    </tr>
                    <tr>
                      <td>Location</td>
                      <td class="table-p">Tirupati</td>
                    </tr>
                    <tr>
                      <td>College</td>
                      <td class="table-p">S.V. Medical College</td>
                    </tr>
                    <tr>
                      <td>Name</td>
                      <td class="table-p">Lokesh</td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td class="table-p">9703440987</td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td class="table-p">lokeshmPuttagmail.com</td>
                    </tr>
                  </tbody>
                </table>


              </div>
              <div class="col-12 col-xl-6 col-md-6 col-lg-6">
                <h4 class="head">Other Payments Methods</h4>
                <div>

                  <div class="swipe-container">
                    <h4 class="head text-light">Secured by Trusted Indian Banks</h4>
                    <button class="swipe-button">
                      <span class="swipe-text">Swipe to Pay</span>
                    </button>
                  </div>

                  <div class="payment-options">
                    <div class="payment-option">
                      <img src="../../../../../assets/net.svg" alt="Net Banking Icon" class="icon">
                      <span class="list-p">Net Banking</span>
                    </div>
                    <div class="payment-option">
                      <img src="../../../../../assets/net.svg" alt="CRED Pay Icon" class="icon">
                      <span class="list-p">CRED Pay</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>


  </section>
</div>