<div class="content">
  <section>
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="head m-0">My Interest</h1>
        <h5 class="cat-tittle m-0" style="margin-left: auto;
        white-space: nowrap;cursor: pointer;"  (click)="goBack()">
          <span><i class="fa-regular fa-less-than"></i></span>&nbsp; Back to Home
        </h5>
      </div>
      <hr class="hr">

      <div class="row">
        <mat-tab-group (selectedTabChange)="getSelectedTab($event)">

          <!-- My Enrollment Tab -->
          <mat-tab label="enrollment">
            <ng-template mat-tab-label>
              My Enrollment
            </ng-template>

              <div class="row d-flex flex-wrap justify-content-start">
                <div
                  class="tab-card1 col-12 col-md-6 col-lg-4 col-sm-12"
                  *ngFor="let item of bookingConfirmationList" (click)="openModal(item, $event)"
                >
                  <div class="tab-title my-2">
                    {{ item.eventname }}
                  </div>
                  <div class="tab-details my-2">
                    From <strong>{{ item.proposal_from_datetime | date : "yyyy-MM-dd": 'UTC' }}</strong>
                    to  <strong>{{ item.proposal_to_datetime | date : "yyyy-MM-dd": 'UTC' }}</strong>
                  </div>
                  <div class="location my-2">
                    Location: {{ item.place | titlecase }}
                  </div>
                  <div class="price my-2" *ngIf="item.price">
                    Price: {{ item.price | currency:"INR" }}
                  </div>
                </div>
              </div>
          </mat-tab>

          <!-- My Bookmarks Tab -->
          <mat-tab label="bookmarks">
            <ng-template mat-tab-label>
              My Bookmarks
            </ng-template>

              <div class="row  d-flex flex-wrap justify-content-start">
                <div
                  class="tab-card1 col-12 col-md-6 col-lg-4 col-sm-12"
                  *ngFor="let item of myInterest" (click)="openModal(item, $event)"
                >
                  <div class="deleteIcon">
                    <i class="fa-solid fa-trash" (click)="deleteBookMark(item)"></i>
                  </div>
                  <div class="tab-title my-2">
                    {{ item.eventname }}
                  </div>
                  <div class="tab-details my-2">
                    From <strong>{{ item.proposal_from_datetime | date : "yyyy-MM-dd": 'UTC' }}</strong>
                    to  <strong>{{ item.proposal_to_datetime | date : "yyyy-MM-dd": 'UTC' }}</strong>                  </div>
                  <div class="location my-2">
                    Location: {{ item.place | titlecase }}
                  </div>
                  <div class="price my-2" *ngIf="item.price">
                    Price: {{ item.price | currency:"INR" }}
                  </div>
                </div>

            </div>
          </mat-tab>

          <!-- My Certificates Tab -->
          <mat-tab label="certificates">
            <ng-template mat-tab-label>
              My Certificates
            </ng-template>
            <div class="row certificates d-block">
              <h1>COMING SOON...</h1>
            </div>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </section>
</div>
