<mat-toolbar color="primary">
	<mat-toolbar-row>

		<span class="logo" *ngIf="isSidebarOpen">
			<img src="../../../../../assets/vendor-logo.png" alt="MedNexus Logo">
		</span>
		<button mat-icon-button (click)="toggleSidebar()">
			<mat-icon>menu</mat-icon>
		</button>

		<span class="spacer"></span>
		<button mat-icon-button class="mt-2">
			<mat-icon>notifications</mat-icon>
		</button>

		<div>
			<button mat-icon-button [matMenuTriggerFor]="menu">
				<i class="fa-solid fa-user-tie"></i>
			</button>
		</div>

		<mat-menu #menu="matMenu" class="prof-menu">
			<button mat-menu-item>
				<img src="../../../../../assets/profile.svg" alt="profile"/>
				My Profile
			</button>
			<button mat-menu-item>
				<img src="../../../../../assets/profissional.svg" alt="profile"/>
				Professional Credentials
			</button>
			<button mat-menu-item>
				<img src="../../../../../assets/add-conf.svg" alt="profile"/>
				Add Conference
			</button>
			<button mat-menu-item>
				<img src="../../../../../assets/premium.svg" alt="profile"/>
				Premium
			</button>
			<button mat-menu-item>
				<img src="../../../../../assets/setting.svg" alt="profile"/>
				Settings
			</button>
			<button mat-menu-item>
				<img src="../../../../../assets/whatnew.svg" alt="profile"/>
				What's New in App
			</button>
			<button mat-menu-item>

				<a [routerLink]="['/login']" title="Login" class="text-dark"
					*ngIf="!isLoggedInUser"><mat-icon>logout</mat-icon></a>
				<a [routerLink]="['']" *ngIf="isLoggedInUser" title="Logout" (click)="logoutUser()"
					class="text-dark"><img src="../../../../../assets/logout.svg" alt="profile"/></a>
				Logout
			</button>
		</mat-menu>

		<!-- <div>
      <a [routerLink]="['/login']" title="Login" class="text-dark" *ngIf="!isLoggedInUser"><i
          class="fa-solid fa-right-to-bracket logIcon"></i></a>
      <a [routerLink]="['']" *ngIf="isLoggedInUser" title="Logout" (click)="logoutUser()" class="text-dark"><i
          class="fa-solid fa-right-from-bracket logIcon text-light"></i></a>
    </div> -->
	</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav [mode]="sidenavMode" [(opened)]="isSidebarOpen" class="sidenav">
		<mat-nav-list>
			<a class="active" mat-list-item [routerLink]="['/dashboard']"  routerLinkActive="router-link-active"  [routerLinkActiveOptions]="{ exact: true }">
				<img src="../../../../../assets/home-light.svg" class="menu-ic">
				<span *ngIf="isSidebarOpen">Home</span>
			</a>
			<a mat-list-item [routerLink]="['my-interest']"   routerLinkActive="router-link-active"  [routerLinkActiveOptions]="{ exact: true }">
				<img src="../../../../../assets/My-Interest.svg" class="menu-ic">
				<span *ngIf="isSidebarOpen">My Interest</span>
			</a>
			<a mat-list-item [routerLink]="['search']" routerLinkActive="router-link-active"  [routerLinkActiveOptions]="{ exact: true }">
				<img src="../../../../../assets/search.svg" class="menu-ic">
				<span *ngIf="isSidebarOpen">Search</span>
			</a>
			<!-- <a mat-list-item [routerLink]="['nexus']" routerLinkActive="router-link-active"  [routerLinkActiveOptions]="{ exact: true }">
				<img src="../../../../../assets/nexus.svg" class="menu-ic">
				<span *ngIf="isSidebarOpen">Nexus</span>
			</a> -->
			<a mat-list-item [routerLink]="['education1']" routerLinkActive="router-link-active"  [routerLinkActiveOptions]="{ exact: true }">
				<img src="../../../../../assets/educte.svg" class="menu-ic">
				<span *ngIf="isSidebarOpen">Education</span>
			</a>
		</mat-nav-list>
	</mat-sidenav>


	<mat-sidenav-content>
    <router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
