<div class="contactus-container w-100 h-100 bg-white">
    <div class="header-container">
        <app-header></app-header>
    </div>
    <ul class="m-2 p-0">
        <li><a href="#">Home / </a></li>
        <li><a href="#" class="active"> Contact Us</a></li>
    </ul>
    <div class="section-container w-100">
        <div class="left w-50"></div>
        <div class="right w-50 px-3">
            <div class="right-data-wraper d-flex">
                <div class="call-us m-1">
                    <img src="../../../../../assets/call-icon.png" alt="">
                    <h6>Call us</h6>
                </div>
                <div class="mail-us m-1">
                    <img src="../../../../../assets/mail-us-icon.png" alt="">
                    <h6>Mail Us</h6>
                </div>
                <div class="chat-us m-1">
                    <img src="../../../../../assets/chat-us-icon.png" alt="">
                    <h6>Chat us</h6>
                </div>
            </div>
            <div class="right-side-content-wraper mb-4">
                <div class="call-us-content">
                    <form action="" class="d-flex flex-column">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Email">
                        <input type="text" placeholder="Phone Number">
                        <textarea name="" id="" placeholder="Comments"></textarea>
                        <button type="button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>