<header class="d-flex justify-content-between desktop">
  <div class="logo" (click)="hideSideNav()">
    <i class="fa-solid fa-bars hamIcon"></i>
    <img src="../../../../../assets/new-logo.jpg" alt="" />
  </div>
  <nav class="navbar navbar-expand">
    <ul>
      <li (click)="logout()" title="Logout">
        <a
          [routerLink]="['/admin']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          ><i class="fa-solid fa-right-from-bracket"></i
        ></a>
      </li>
    </ul>
  </nav>
</header>

<header class="mobile">
  <div class="logo">
    <img src="../../../../../assets/new-logo.jpg" alt="" />
    <!-- Logo content -->
  </div>
  <button class="hamburger" (click)="toggleMobileMenu()">
    <i class="fa-solid fa-bars"></i>
  </button>
  <nav class="navbar navbar-expand" [class.show]="isMobileMenuOpen">
    <button class="closeBtn" (click)="toggleMobileMenu()">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <ul>
      <li>
        <a
          [routerLink]="['/admin/adminhome']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMobileMenu()"
          >Dashboard</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/admin/adminhome/conferencerequest']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMobileMenu()"
          >Conference Requests</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/admin/adminhome/useranalytics']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMobileMenu()"
          >User Analytics</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/admin/adminhome/financialreports']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMobileMenu()"
          >Financial Reports</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/admin/adminhome/adminsettings']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMobileMenu()"
          >Settings</a
        >
      </li>
      <li (click)="logout()">
        <a
          [routerLink]="['/admin']"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMobileMenu()"
          ><i class="fa-solid fa-right-from-bracket"></i
        ></a>
      </li>
    </ul>
  </nav>
</header>
