@import "../../../../variables";
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBlock {
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  h1,
  h3 {
    background: $blackColor;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
  }
  .fields {
    margin-top: 20px;
    width: 100%;
  }
  .fieldsBtn {
    margin-top: 20px;
  }
}

.userLoginBlock {
  background:$themePrimaryColor;
  background-position: center;
  background-size: contain;
  padding: 10px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  h1,
  h3 {
    color: #fff;
  }
  h3 {
    margin-top: 3vw;
  }
  .fields {
    display: flex;
    border: 1px solid gray;
    align-items: center;
    justify-content: space-between;
    padding: $smallPadding;
    border-radius: 10px;
    background: #fff;
    .numberInp {
      outline: none;
      border: none;
      width: 100%;
      padding: $smallPadding;
    }
  }
  .fieldsBtn {
    .btn {
      margin-top: 10px;
      color: #fff;
    }
  }
}
