<div class="wrapper">
  @if (route.url==='/admin') {
    <div class="adminLoginWrapper">
      <div
      class="loginBlock col col-sm-8 col-md-5 col-lg-5"
      [formGroup]="loginForm"
    >
      <h2>MedNexus Login</h2>
      <div
        class="fields"
        [class.valid]="
          userLoginForm.get('mobile').valid &&
          (userLoginForm.get('mobile').dirty ||
            userLoginForm.get('mobile').touched)
        "
        [class.invalid]="
          userLoginForm.get('mobile').invalid &&
          (userLoginForm.get('mobile').dirty ||
            userLoginForm.get('mobile').touched)
        "
      >
        <span>+91-</span>
        <input
          type="tel"
          placeholder=" Enter your mobile number"
          class="numberInp"
          formControlName="mobile"
        />
        <span>8074828657</span>
      </div>
      <span
        class="error"
        *ngIf="
          (loginForm.get('mobile').dirty || loginForm.get('mobile').touched) &&
          loginForm.get('mobile').errors &&
          loginForm.get('mobile').hasError('required')
        "
      >
        Phone Number is required
      </span>
      <span
        class="error"
        *ngIf="
          (loginForm.get('mobile').dirty || loginForm.get('mobile').touched) &&
          loginForm.get('mobile').errors
        "
      >
        Enter Valid Phone Number
      </span>
      <div class="adminNotiBlock">
        <label for="notifications"
          >Get Notification and Updates on Whatsapp</label
        >
        <input
          type="checkbox"
          id="notifications"
          class="toggle"
          formControlName="whatsapp_status"
        />
      </div>
      <div class="fieldsBtn">
        <button
          (click)="loginAdmin(loginForm.value)"
          [disabled]="!loginForm.valid"
          class="btn btn-primary loginBtn"
        >
          Login
        </button>
      </div>
    </div>
    </div>

  } @if (route.url==='/vendor') {
  <div
    class="loginBlock col col-sm-8 col-md-3 col-lg-3"
    [formGroup]="loginForm"
  >
    <h2>MedNexus</h2>
    <div class="fields">
      <input
        type="text"
        placeholder="Username/Email"
        class="form-control"
        formControlName="username"
      />
    </div>
    <div class="fields">
      <input
        type="password"
        placeholder="Password"
        class="form-control"
        formControlName="password"
      />
    </div>
    <div class="fieldsBtn">
      <button
        (click)="loginAdmin(loginForm.value)"
        [disabled]="!userLoginForm.valid"
        class="btn btn-primary"
      >
        Vendor Login
      </button>
    </div>
  </div>
  } @if(route.url==='/userlogin') {

  <div
    class="userLoginBlock col col-sm-8 col-md-3 col-lg-3"
    [formGroup]="userLoginForm"
  >
    <h1>MedNexus</h1>
    <h3>LOGIN OR SIGNUP</h3>
    <div
      class="fields"
      [class.valid]="
        userLoginForm.get('mobile').valid &&
        (userLoginForm.get('mobile').dirty ||
          userLoginForm.get('mobile').touched)
      "
      [class.invalid]="
        userLoginForm.get('mobile').invalid &&
        (userLoginForm.get('mobile').dirty ||
          userLoginForm.get('mobile').touched)
      "
    >
      <span>+91-</span>
      <input
        type="tel"
        placeholder="Enter your mobile number"
        class="numberInp"
        formControlName="mobile"
      />
    </div>
    <span
      class="error"
      *ngIf="
        (userLoginForm.get('mobile').dirty ||
          userLoginForm.get('mobile').touched) &&
        userLoginForm.get('mobile').errors &&
        userLoginForm.get('mobile').hasError('required')
      "
    >
      Phone Number is required
    </span>
    <span
      class="error"
      *ngIf="
        (userLoginForm.get('mobile').dirty ||
          userLoginForm.get('mobile').touched) &&
        userLoginForm.get('mobile').errors
      "
    >
      Enter Valid Phone Number
    </span>
    <div class="notiBlock">
      <label for="notifications"
        >Get Notification and Updates on Whatsapp</label
      >
      <input
        type="checkbox"
        id="notifications"
        class="toggle"
        formControlName="whatsapp_status"
      />
    </div>
    <div class="fieldsBtn">
      <button
        (click)="userLogin(userLoginForm.value)"
        [disabled]="!userLoginForm.valid"
        class="btn btn-primary loginBtn"
      >
        Login
      </button>
    </div>
  </div>
  }
  <app-verify-otp
    *ngIf="isShowVerifyOtp"
    [mobNumber]="mobNumberVal"
    (resendNewOtp)="resendOtp()"
    (closeOtpModal)="closeVerifyOtpModal()"
  ></app-verify-otp>
</div>
