$primaryGradient:rgb(159, 22, 67);
$secondaryGradient:rgb(70, 9, 191);

$primaryFontSize:18px;
$secondaryFontSize:15px;
$smallFontSize:10px;


$themePrimaryColor:rgb(124, 43, 161);
$whiteColor:#fff;
$blackColor:#000;

$primaryPadding:20px;
$secondaryPadding:10px;
$smallPadding:5px;

$fivePx:5px;
