<div class="container">
  <h1>Area Of Interest</h1>

  <div class="row" *ngIf="subjectsListData.length > 0">
    <!-- Coupon 1 -->
    <div
      class="col-6 col-sm-6 col-lg-2 col-xl-2 col-md-2 subject"
      *ngFor="let item of subjectsListData"
    >
      <div class="wrapper" (click)="goToSubSubject(item)">
        <div class="iconbox-top md-align-center">
          <div class="iconbox-top-content">
            <div class="hover-holder">
              <div class="icon-holder">
                <svg class="svg-circle">
                  <circle
                    cx="49"
                    cy="49"
                    r="47"
                    stroke="rgb(15,124,127)"
                    stroke-width="2"
                    fill="none"
                  ></circle>
                </svg>
                <div class="icon"><img src="{{ item.img }}" /></div>
              </div>
              <h1 class="catt-tittle">{{ item.category_name }}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
