<div class="content">

    <section>
        <div class="container">
          <div class="d-flex">
            <h1 class="head mt-5">Events</h1>
            <h5 class="cat-tittle mt-5" style="margin-left: auto;"><span><i
                  class="fa-regular fa-less-than"></i></span>&nbsp; Back to Home</h5>

          </div>
          <hr class="hr">
          <br>
          <div class="searchArea mb-4">
            <i  class="fa-solid fa-magnifying-glass searchIcon"></i>
            <input  type="text" placeholder="Search" class="search">
        </div>

          <div class="row">
            <mat-tab-group>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-radio-button class="custom-radio" value="all" checked>ALL</mat-radio-button>
                </ng-template>

                <!-- Content for Hot Jobs tab -->
                <div class="row">
                  <div class="col-md-6 col-lg-4" >

                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-warning">Online</div>
                      </div>
                      <div class="tab-title">MEDICAL COLLEGE ALUMNI ASSOCIATION</div>

                      <div class="tab-details">
                        On <strong>28.07.2024</strong>
                      </div>
                      <div class="location">Location: Tirupati</div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4" >
                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-danger">Webinar</div>
                      </div>
                      <div class="tab-title">Dare Diabeticon <br>- 2024 </div>

                      <div class="tab-details">
                        On <strong>July 2024 9am-5pm</strong>
                      </div>
                      <div class="location">Location: Hyderabad</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4" >
                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-success">Offline</div>
                      </div>
                      <div class="tab-title">IND GANDHI MEDICAL COLLEGE
                        & RESEARCH INSTITUTE PUDUCHERRY</div>

                      <div class="tab-details">
                        On <strong>On Aug 3rd, 2024</strong>
                      </div>
                      <div class="location">Location: Puducherry</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4" >
                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-info">Workshop</div>
                      </div>
                      <div class="tab-title">Hands-on Endogynecology <br>Course</div>

                      <div class="tab-details">
                        On <strong>On Aug 9th & 10th, 2024</strong>
                      </div>
                      <div class="location">Location: Chennai</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4" >
                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-info">Workshop</div>
                      </div>
                      <div class="tab-title">Hands-on Endogynecology<br> Course</div>

                      <div class="tab-details">
                        On <strong>On Aug 9th & 10th, 2024</strong>
                      </div>
                      <div class="location">Location: Chennai</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4" >
                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-danger">Exposé</div>
                      </div>
                      <div class="tab-title">Hands-on Workshop on Female Contraception</div>

                      <div class="tab-details">
                        On <strong>On December 2-6, 2024.</strong>
                      </div>
                      <div class="location">Location: ICMR-NIRRCH</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4" >
                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-danger">Webinar</div>
                      </div>
                      <div class="tab-title">Suture Script Laparoscopic Suturing & Live Bariatric
                        Surgery Workshop</div>

                      <div class="tab-details">
                        On <strong>On July 27th & 28th, 2024</strong>
                      </div>
                      <div class="location">Location: Pune</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>

                    </div>
                  </div>
                  <div class="col-md-6 col-lg-4" >
                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-danger">Exposé</div>
                      </div>
                      <div class="tab-title">IND GANDHI MEDICAL COLLEGE & RESEARCH INSTITUTE
                        PUDUCHERRY</div>

                      <div class="tab-details">
                        On <strong>On Aug 3rd, 2024</strong>
                      </div>
                      <div class="location">Location: PUDUCHERRY</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>

                    </div>

                  </div>
                  <div class="col-md-6 col-lg-4" >
                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-success">Offline</div>
                      </div>
                      <div class="tab-title">MEDICAL COLLEGE ALUMNI ASSOCIATION</div>

                      <div class="tab-details">
                        On <strong>On Aug 3rd, 2024</strong>
                      </div>
                      <div class="location">Location: Tirupati</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>

                    </div>

                  </div>
                  <div class="col-md-6 col-lg-4" >
                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-info">Workshop</div>
                      </div>
                      <div class="tab-title">Dare Diabeticon<br> - 2024 </div>

                      <div class="tab-details">
                        On <strong>July 2024 9am-5pm</strong>
                      </div>
                      <div class="location">Location: Hyderabad</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>

                    </div>

                  </div>
                  <div class="col-md-6 col-lg-4" >
                    <div class="tab-card1">
                      <div class="d-flex justify-content-end">
                        <div class="top-trending-label1 bg-danger">Exposé</div>
                      </div>
                      <div class="tab-title">IND GANDHI MEDICAL COLLEGE & RESEARCH INSTITUTE
                        PUDUCHERRY</div>

                      <div class="tab-details">
                        On <strong>On Aug 3rd, 2024</strong>
                      </div>
                      <div class="location">Location: PUDUCHERRY</div>
                      <div class="guest1">
                        <img src="../../../../../assets/Ellipse-logo.png" alt="Chief Guest">
                      </div>

                    </div>

                  </div>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>

                  <mat-radio-button class="custom-radio" value="recentjobs">ONLINE</mat-radio-button>
                </ng-template>

                <div class="row">
                  <h2>ONLINE</h2>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>

                  <mat-radio-button class="custom-radio"
                    value="Popular Jobs">OFFLINE</mat-radio-button>
                </ng-template>
                <div class="row">
                 <h1>OFFLINE</h1>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>

                  <mat-radio-button class="custom-radio"
                    value="Popular Jobs">WEBINARS</mat-radio-button>
                </ng-template>
                <div class="row">
                 <h1>WEBMINARS</h1>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>

                  <mat-radio-button class="custom-radio"
                    value="Popular Jobs">WORKSHOP</mat-radio-button>
                </ng-template>
                <div class="row">
                  <h1>WORKSHOP</h1>
                </div>
              </mat-tab>
              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-radio-button class="custom-radio"
                    value="Popular Jobs">EXPOSE</mat-radio-button>
                </ng-template>
                <div class="row">
                  <h1>EXPOSE</h1>
                </div>
              </mat-tab>

            </mat-tab-group>
          </div>
        </div>


      </section>
</div>
