<div class="containers">
  <div class="field">
    <input type="text" placeholder="Search..." class="form-control" [(ngModel)]="searchText">
  </div>
  <button class="btn btn-success">CONFERENCES</button>
  <div class="col col-lg-12 col-md-12 col-sm-12 cardsItem">
    <div
    class="tab-card1 col-md-6 col-lg-4"
    *ngFor="let item of conferenceListData | filter : searchText" (click)="openModal(item,$event)"
  >
    <div class="d-flex justify-content-end">
      <div
        class="top-trending-label1 bg-warning"
        *ngIf="item.category == 1"
      >
        ONLINE
      </div>
      <div
        class="top-trending-label1 bg-danger"
        *ngIf="item.category == 3"
      >
       Webinar
      </div>
      <div
        class="top-trending-label1 bg-info"
        *ngIf="item.category == 4"
      >
        EXPOS
      </div>
      <div
        class="top-trending-label1 bg-success"
        *ngIf="item.category == 2"
      >
        OFFLINE
      </div>
    </div>
    <div class="bookmarkIcon">
      <!-- <i class="fa-regular fa-bookmark" *ngIf="item.b_id===null" (click)="bookmarkConference(item,$event)"></i>
      <i class="fa-solid fa-bookmark" *ngIf="item.b_id!==null"></i> -->
    </div>
    <div class="tab-title">
      {{ item.eventname }}
    </div>
    <div class="tab-details">
      From
      <strong>{{ item.proposal_from_datetime | date : "yyyy-MM-dd" }}</strong>
      to
      <strong>{{ item.proposal_to_datetime | date : "yyyy-MM-dd" }}</strong>
    </div>
    <div class="location">
      Location: {{ item.place | titlecase }}
    </div>
    <div class="price" *ngIf="item.price">
      Price: {{ item.price | currency:"INR" }}
    </div>
  </div>
  </div>
</div>
